.comments_container {
	max-width: 100%;
	overflow: hidden;
	margin: 0 auto;
}

@media (min-width: 768px) {
	.comments_container {
		width: 768px;
	}
}

@media (min-width: 1000px) {
	.comments_container {
		width: 100%;
	}
}

@media (min-width: 1920px) {
	.comments_container {
		width: 1920px;
	}
}

.comments_title {
	margin: 70px 0 30px;
}

@media (min-width: 480px) {
	.comments_title {
		margin: 100px 0 40px;
	}
}

@media (min-width: 768px) {
	.comments_title {
		margin: 80px 0 40px;
	}
}

@media (min-width: 1000px) {
	.comments_title {
		margin: 140px 0 70px;
	}
}

@media (min-width: 1920px) {
	.comments_title {
		margin: 120px 0 40px;
	}
}

.comments_slider_container {
	margin: 0 auto 30px;
	padding: 0 10px;
	position: relative;
}

@media (min-width: 480px) {
	.comments_slider_container {
		margin: 0 0 40px 0;
	}
}

@media (min-width: 768px) {
	.comments_slider_container {
		margin: 0 auto 40px;
	}
}

@media (min-width: 1000px) {
	.comments_slider_container {
		margin: 0 0 40px 0;
	}
}

@media (min-width: 1920px) {
	.comments_slider_container {
		width: 70%;
		margin: 0 auto 60px;
		padding: 0;
	}
}

.comments_card_container.swiper-slide.transitioned {
	transition: transform 1s,
		opacity 1s;
}

.comments_card_container {
	padding: 18.5px;
	width: 320px;
	min-height: 205px;
	border: 1px solid var(--color-border-white);
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
	border-radius: 5px;
}

@media (min-width: 480px) {
	.comments_card_container.swiper-slide {
		width: 354px;
		min-height: 228px;
	}
}

@media (min-width: 768px) {
	.comments_card_container {
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
		min-height: 231px;
	}
}

@media (min-width: 1000px) {
	.comments_card_container.swiper-slide {
		padding: 28.5px;
		width: 440px;
		min-height: 259px;
	}
}

@media (min-width: 1920px) {
	.comments_card_container.swiper-slide {
		box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
		padding: 38.5px 43.5px 33.5px;
		width: 570px;
		min-height: 290px;
	}
}

.card_text {
	--height: auto;
	font-size: 13px;
	line-height: 21px;
	color: var(--color-brown);
	text-align: left;
	min-width: 250px;
	margin-bottom: 10px;
	height: var(--height);
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	transition: height 0.5s;
}

@media (min-width: 480px) {
	.card_text {
		line-height: 22px;
		min-width: 314px;
		margin-bottom: 10px;
	}
}

@media (min-width: 768px) {
	.card_text {
		line-height: 23px;
	}
}

@media (min-width: 1000px) {
	.card_text {
		line-height: 24px;
		min-width: 380px;
		margin-bottom: 15px;
	}
}

@media (min-width: 1920px) {
	.card_text {
		font-size: 15px;
	}
}

.card_text.opened {
	display: block;
}

.card_unwrap_button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 130px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
	border-radius: 5px;
	padding: 4px 0 3px;
	font-size: 13px;
	line-height: 13px;
	text-align: center;
	color: var(--color-green);
	visibility: hidden;
}

.card_unwrap_button.visible {
	visibility: visible;
}

.activeSlides .card_unwrap_button {
	pointer-events: none;
}

@media (min-width: 480px) {
	.card_unwrap_button {
		line-height: 23px;
		padding: 4px 0 3px;
	}
}

@media (min-width: 1920px) {
	.card_unwrap_button {
		width: 150px;
		font-size: 15px;
		line-height: 21px;
		padding: 8px 0 6px;
	}
}

.unwrap_button_span {
	display: inline-block;
	height: 1px;
	width: 10px;
	background-color: var(--color-green);
	transition: transform 0.5s;
}

.unwrap_button_span:first-of-type {
	transform: translate(2px, 1px) rotate(45deg);
}

.unwrap_button_span:last-of-type {
	transform: translate(-1px, 1px) rotate(-45deg);
}

.card_unwrap_button.opened .unwrap_button_span:first-of-type {
	transform: translate(2px, 1px) rotate(-45deg);
}

.card_unwrap_button.opened .unwrap_button_span:last-of-type {
	transform: translate(-1px, 1px) rotate(45deg);
}

.card_author {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin-top: 24px;
}

@media (min-width: 480px) {
	.card_author {
		margin-top: 34px;
	}
}

@media (min-width: 1920px) {
	.card_author {
		margin-top: 45px;
	}
}

.author_photo {
	margin-right: 10px;
}

@media (min-width: 1920px) {
	.author_photo {
		margin-right: 20px;
	}
}

.author_name {
	font-size: 14px;
	line-height: 21px;
	color: var(--color-font-black-comments);
	margin-bottom: 10px;
}

@media (min-width: 1920px) {
	.author_name {
		font-size: 16px;
	}
}

.author_cocial_network_link {
	flex: 1 1 auto;
}

.link_icon {
	margin-right: 10px;
}

.comments_card_container.activeSlides .link_ref {
	pointer-events: none;
}