.button {
	position: relative;
	display: block;
	width: 170px;
	height: 43px;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 10px;
	line-height: 10px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: var(--color-dark-orange);
	background: var(--gradient-yellow);
	box-shadow: 0px 4px 0px var(--color-light-orange);
	z-index: 100;
}

@media (min-width: 480px) {
	.button {
		width: 180px;
		height: 45px;
	}
}

@media (min-width: 768px) {
	.button {
		line-height: 32px;
	}
}

@media (min-width: 1000px) {
	.button {
		width: 218px;
		height: 60px;
		font-size: 13px;
	}
}

@media (min-width: 1920px) {
	.button {
		width: 270px;
		height: 70px;
		font-size: 15px;
	}
}

.button::before {
	content: "";
	position: absolute;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: var(--gradient-yellow-dark);
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	z-index: -100;
}

.button:hover::before {
	opacity: 1;
}

.button::after {
	content: "";
	position: absolute;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: var(--gradient-yellow-dark);
	transform: matrix(1, 0, 0, -1, 0, 0);
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	z-index: -100;
}

.button:active::after {
	opacity: 1;
}

/* ============================================================================
		slider
=============================================================================*/

.slider-control {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 43px;
}

.slider-control__button {
	position: relative;
	width: 40px;
	height: 40px;
	background: var(--gradient-slide-button);
	border-radius: 50%;
	transition: opacity 1s ease-in-out;
	box-shadow: 0px 1px 0px var(--color-light-orange);
}

.slider-control__button::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0;
	background: var(--gradient-yellow-dark);
	transition: opacity 0.2s ease-in-out;
}

.slider-control__button:hover::before {
	opacity: 1;
}

.slider-control__button[disabled] {
	opacity: 0.4;
	cursor: auto;
}

.slider-control__button[disabled]:hover::before {
	opacity: 0;
	cursor: auto;
}

.button__arrow {
	display: block;
	width: 10px;
	height: 10px;
	border-left: 3px solid var(--color-dark-orange);
	border-bottom: 3px solid var(--color-dark-orange);
	margin: 0 auto;
}

.button__arrow.button__arrow_prev {
	transform: translateX(25%) rotate(45deg);
}

.button__arrow.button__arrow_next {
	transform: translateX(-25%) rotate(225deg);
}

.slider-control__range {
	width: 96px;
	height: 8px;
	margin: 0 27px;
	box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.17);
	border-radius: 10px;
}

@media (min-width: 1920px) {
	.slider-control__range {
		display: none;
	}
}

.slider-control__thumb {
	/* width took from JS*/
	height: 8px;
	background: var(--gradient-yellow-thumb);
	border-radius: 10px;
	transition: transform 0.6s ease-in-out 0s;
}

@media (min-width: 768px) {
	.slider-control__thumb {
		transition: transform 1s ease-in-out 0s;
	}
}

/* ============================================================================
	slider SWIPER
=============================================================================*/
.scroll-bar {
	position: static;
	width: 96px;
	height: 8px;
	margin: 0 27px;
	box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.17);
	border-radius: 10px;
}

@media (min-width: 1920px) {
	.scroll-bar {
		display: none;
	}
}

div .swiper-scrollbar-drag {
	height: 8px;
	background: var(--gradient-yellow-thumb);
	border-radius: 10px;
}

div .swiper-slide.activeSlides {
	transform: translateY(-40px);
	opacity: 0.4;
}

.swiper-button-disabled.slider-control__button {
	opacity: 0.4;
	cursor: auto;
}

.swiper-button-disabled.slider-control__button:hover::before {
	opacity: 0;
	cursor: auto;
}

div .swiper-pagination.pagination {
	display: none;
}

@media (min-width: 1920px) {
	div .swiper-pagination.pagination {
		display: block;
		position: static;
		width: auto;
		margin: 0 18.5px;
		--swiper-theme-color: #FFC700;
	}
}

div .swiper-pagination.pagination .swiper-pagination-bullet {
	margin: auto 7.5px;
}

/* ============================================================================
		registration modal window
=============================================================================*/

.modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 150;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.8);
	transition: opacity 0.8s,
		visibility 0.8s;
	opacity: 0;
	visibility: hidden;
}

.modal-overlay.open {
	opacity: 1;
	visibility: visible;
}

.register-modal__content {
	width: 300px;
	height: 300px;
	background-color: var(--color-white);
	border-radius: 5px;
	padding: 28.5px 27.5px;
	transform: perspective(300px) translateY(-100%) rotateX(45deg);
	transition: transform 0.8s;
}

@media (min-width: 480px) {
	.register-modal__content {
		width: 375px;
		height: 375px;
		padding: 54px 46px;
		transform: perspective(375px) translateY(-100%) rotateX(45deg);
	}
}

@media (min-width: 1000px) {
	.register-modal__content {
		width: 405px;
		height: 380px;
		padding: 42.5px;
		transform: perspective(380px) translateY(-100%) rotateX(45deg);
	}
}

.register-modal__content.open {
	transform: perspective(380px) translateY(0) rotateX(0);
}

.close-button {
	position: absolute;
	width: 16px;
	height: 16px;
	padding: 16px;
	top: 0px;
	right: 0px;
	background-color: var(--color-white);
}

@media (min-width: 480px) {
	.close-button {
		top: 4px;
		right: 4px;
	}
}

.close-button .close-button__span {
	position: absolute;
	left: 7px;
	top: 50%;
	width: 17px;
	height: 1px;
	background-color: var(--color-black);
	transform: rotate(135deg);
	transition: background-color 0.3s;
}

.close-button:hover .close-button__span {
	background-color: var(--color-orange);
}

.close-button .close-button__span:nth-child(1) {
	transform: rotate(-135deg);
}

.register-modal__form .form-input {
	background: var(--color-white);
	border: 1px solid var(--color-light-grey);
	border-radius: 5px;
	font-size: 13px;
	line-height: 13px;
	width: 100%;
	height: 50px;
	padding-left: 14px;
}

@media (min-width: 480px) {
	.register-modal__form .form-input {
		font-size: 15px;
		line-height: 18px;
		height: 55px;
		padding-left: 19px;
	}
}

@media (min-width: 1000px) {
	.register-modal__form .form-input {
		font-size: 18px;
		line-height: 21px;
		height: 61px;
		padding-left: 21px;
	}
}

.register-modal__form .register-modal__checkbox {
	height: auto;
	margin-bottom: 0;
}

.register-modal__form-button {
	width: 100%;
	height: 45px;
	font-size: 10px;
	line-height: 10px;
	margin: 15px 0 25px;
	display: inline-block;
}

@media (min-width: 480px) {
	.register-modal__form-button {
		height: 64px;
		font-size: 13px;
		line-height: 15px;
		margin: 10px 0 20px;
	}
}

@media (min-width: 768px) {
	.register-modal__form-button {
		font-size: 15px;
	}
}

@media (min-width: 1000px) {
	.register-modal__form-button {
		height: 70px;
	}
}

.register-modal__checkbox-container.input-container {
	align-self: flex-start;
	padding: 0 0 10px;
}

.register-modal__checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	width: 1.5em;
	height: 1.5em;
}

.form__agreement-link {
	text-decoration: underline;
	color: inherit;
}

.register-modal__checkbox+label {
	font-size: 13px;
	line-height: 15px;
	color: var(--color-font-grey);
	display: inline-flex;
	align-items: center;
}

@media (min-width: 480px) {
	.register-modal__checkbox+label {
		font-size: 15px;
		line-height: 18px;
	}
}

.checkbox-svg {
	width: 15px;
	height: 15px;
}

@media (min-width: 480px) {
	.checkbox-svg {
		width: 20px;
		height: 20px;
	}
}

.checkbox-svg__rect {
	stroke-width: 1px;
	stroke: var(--color-yellow);
	fill: var(--color-white);
}

@media (min-width: 480px) {
	.checkbox-svg__rect {
		stroke-width: 2px;
	}
}

.checkbox-svg__path {
	transform: translate(4px, 4px);
	stroke: var(--color-green);
	fill: var(--color-green);
	visibility: hidden;
}

.label-checkbox__ref {
	margin-left: 10px;
}

.input-container.error .checkbox-svg__rect {
	stroke: var(--color-orange);
}

.register-modal__checkbox:checked+label .checkbox-svg__path {
	visibility: visible;
}

.input-container {
	position: relative;
	padding: 10px 0 5px;
	width: 100%;
}

@media (min-width: 1000px) {
	.input-container {
		padding: 10px 0 10px;
	}
}

.valid-tooltip {
	position: absolute;
	color: var(--color-orange);
	font-size: 10px;
	line-height: 10px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s,
		visibility 0.3s;
}

.input-container.error .valid-tooltip {
	visibility: visible;
	opacity: 1;
}

.letters {
	top: 0;
}

.figures {
	top: 0;
}

.checkes {
	bottom: 0;
}

.input-container.error [data-to-validate] {
	border-color: var(--color-orange);
}

.modal-gratitude {
	position: absolute;
	width: 300px;
	height: 300px;
	background-color: var(--color-white);
	border-radius: 5px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: perspective(600px) translateY(100%) rotateX(45deg);
	transition: transform 0.8s,
		opacity 0.8s,
		visibility 0.8s;
	visibility: hidden;
	opacity: 0;
}

@media (min-width: 480px) {
	.modal-gratitude {
		width: 375px;
		height: 375px;
	}
}

@media (min-width: 1000px) {
	.modal-gratitude {
		width: 380px;
		height: 380px;
	}
}

.modal-gratitude.open {
	position: absolute;
	visibility: visible;
	opacity: 1;
	transform: perspective(600px) translateY(0) rotateX(0);
}

.modal-gratitude__line-first {
	font-size: 40px;
	line-height: 50px;
	text-align: center;
}

@media (min-width: 480px) {
	.modal-gratitude__line-first {
		font-size: 50px;
		line-height: 60px;
		text-align: center;
	}
}

.modal-gratitude__line-second {
	font-size: 20px;
	line-height: 30px;
	text-align: center;
}

@media (min-width: 480px) {
	.modal-gratitude__line-second {
		font-size: 30px;
		line-height: 50px;
		text-align: center;
	}
}

.modal-gratitude__image-container {
	width: 250px;
}

@media(min-width: 480px) {
	.modal-gratitude__image-container {
		width: 270px;
	}
}

.modal-gratitude__image {
	width: 100%;
	object-fit: contain;
}