.button{
	position: relative;
	display: block;
	width: 170px;
	height: 43px;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 10px;
	line-height: 10px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: #6A5300;
	background: linear-gradient(180deg, #9BCFFF 0%, #FFF383 0.01%, #FFC700 100%);
	box-shadow: 0px 4px 0px #C89C00;
	z-index: 100;
}
@media (min-width: 480px){
	.button {
		width: 180px;
		height: 45px;
	}
}
@media (min-width: 768px){
	.button {
		line-height: 32px;
	}
}
@media (min-width: 1000px){
	.button {
		width: 218px;
		height: 60px;
		font-size: 13px;
	}
}
@media (min-width: 1920px){
	.button {
		width: 270px;
		height: 70px;
		font-size: 15px;
	}
  }
.button::before{
	content: "";
	position: absolute;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	z-index: -100;
}

.button:hover::before{
	opacity: 1;
}
.button::after{
	content: "";
	position: absolute;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
	transform: matrix(1, 0, 0, -1, 0, 0);
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	z-index: -100;
}
.button:active::after{
	opacity: 1;
}
/* ============================================================================
		slider (ourVisitors)
=============================================================================*/
.sliderCheckbox{
	display: flex;
	justify-content: center; 
	align-items: center;
}
.btn_prev {
	position: relative;
	width: 40px;
	height: 40px;
	background: linear-gradient(180deg, #9BCFFF 0%, #FFF8B6 0.01%, #FFC700 100%);
	/* box-shadow: 0px 1px 0px #C89C00; */
	border-radius: 50%;

}
.btn_prev::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0;
	/* z-index: -100; */
	background: linear-gradient(180deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
	transition: opacity 0.5s ease-in-out;
}
.btn_prev:hover::before{
	opacity: 1;
}
.arrow_prev{
	color: #6A5300;
	width: 10px;
	height: 10px;
	border-top: 3px solid #6A5300;
	border-right: 3px solid #6A5300;
	margin-left: 16px;
	margin-right: 16px;
	box-sizing: border-box;
	transform: rotate(-135deg);
}
.slider_range {
	width: 96px;
	height: 8px;
	margin: 0 27px;
	box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.17);
	border-radius: 10px;
}
.slider_thumb {
	/* width took from JS*/
	height: 8px;
	background: linear-gradient(180deg, #9BCFFF 0%, #FFC700 0.01%, #FF9900 100%);
	border-radius: 10px;
	transition: margin-left 1s ease-in-out 0s;
}
.btn_next {
	position: relative;
	width: 40px;
	height: 40px;
	background: linear-gradient(180deg, #9BCFFF 0%, #FFF8B6 0.01%, #FFC700 100%);
	/* box-shadow: 0px 1px 0px #C89C00; */
	border-radius: 50%;
}
.btn_next::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0;
	/* z-index: -100; */
	background: linear-gradient(180deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
	transition: opacity 0.5s ease-in-out;
}
.btn_next:hover::before{
	opacity: 1;
}
.arrow_next{
	color: #6A5300;
	width: 10px;
	height: 10px;
	border-top: 3px solid #6A5300;
	border-right: 3px solid #6A5300;
	margin-left: 14px;
	margin-right: 14px;
	box-sizing: border-box;
	transform: rotate(45deg);
}
/* ============================================================================
		 slider SWIPER (ourHorses)
=============================================================================*/
.scrollBar{
	position: static;
	width: 96px;
	height: 8px;
	margin: 0 27px;
	box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.17);
	border-radius: 10px;
}
div .swiper-scrollbar-drag{
	height: 8px;
	background: linear-gradient(180deg, #9BCFFF 0%, #FFC700 0.01%, #FF9900 100%);
	border-radius: 10px;
}
.extremeSlides {
	transform: translateY(-40px) !important;
	opacity: 0.4 !important;
}