.footer {
	background-color: var(--color-font-black-one);
}

.footer__container {
	max-width: 320px;
	margin: 0 auto;
	position: relative;
}

@media (min-width: 480px) {
	.footer__container {
		max-width: 480px;
	}
}

@media (min-width: 768px) {
	.footer__container {
		max-width: 748px;
	}
}

@media (min-width: 1000px) {
	.footer__container {
		max-width: 1000px;
	}
}

@media (min-width: 1920px) {
	.footer__container {
		max-width: 1900px;
	}
}

.footer__container-inner {
	padding: 30px 45px 18px;
	margin: 0 auto;
}

@media (min-width: 480px) {
	.footer__container-inner {
		padding: 40px 29px 30px;
	}
}

@media (min-width: 768px) {
	.footer__container-inner {
		padding: 25px 20px 33px;
	}
}

@media (min-width: 1000px) {
	.footer__container-inner {
		padding: 30px 20px 35px;
	}
}

@media (min-width: 1920px) {
	.footer__container-inner {
		max-width: 1211px;
		padding: 24px 20px 25px;
	}
}

.footer__row-first {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-bottom: 35px;
}

@media (min-width: 768px) {
	.footer__row-first {
		flex-direction: row;
		padding-bottom: 20px;
		justify-content: flex-start;
	}
}

@media (min-width: 1000px) {
	.footer__row-first {
		padding-bottom: 44px;
	}
}

@media (min-width: 1920px) {
	.footer__row-first {
		padding-bottom: 26px;
	}
}

.footer__logo {
	flex: 1 1 auto;
	order: 1;
}

@media (min-width: 768px) {
	.footer__logo {
		order: 0;
		align-self: flex-start;
	}
}

@media (min-width: 1000px) {
	.footer__logo {
		align-self: center;
	}
}

@media (min-width: 480px) {
	.footer__nav-container {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.footer__nav-container {
		flex: 0 1 367px;
	}
}

@media (min-width: 1000px) {
	.footer__nav-container {
		flex: 0 1 396px;
	}
}

@media (min-width: 1920px) {
	.footer__nav-container {
		flex: 0 1 364px;
	}
}

.footer__nav {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	font-size: 13px;
	line-height: 45px;
	text-align: center;
}

@media (min-width: 480px) {
	.footer__nav {
		flex-direction: row;
		font-size: 13px;
		line-height: 15px;
		text-align: start;
	}
}

.nav__link-footer {
	color: var(--color-border-white);
	padding: 5px;
}

.nav__link-footer:hover {
	text-decoration: underline;
}

.footer__button {
	margin: 30px 0 35px;
	width: 167px;
	height: 46px;
	border: 1px solid var(--color-light-yellow);
	border-radius: 5px;
	background: transparent;
	font-size: 13px;
	line-height: 15px;
	color: var(--color-button-white);
	padding: 5px;
}

@media (min-width: 480px) {
	.footer__button {
		margin: 30px 0;
	}
}

@media (min-width: 768px) {
	.footer__button {
		margin: 0 0 0 35px;
	}
}

@media (min-width: 1000px) {
	.footer__button {
		margin-left: 45px;
		font-size: 15px;
		line-height: 18px;
		width: 201px;
	}
}

@media (min-width: 1920px) {
	.footer__button {
		margin-left: 24px;
	}
}

.privacy-policy {
	font-size: 10px;
	line-height: 12px;
	text-decoration-line: underline;
	color: var(--color-font-dark-grey);
	display: block;
	text-align: center;
}

.privacy-policy:first-child {
	margin: 0 0 10px;
}

.privacy-policy:nth-child(2) {
	margin: 0 0 93px;
}

@media (min-width: 768px) {
	.privacy-policy {
		display: inline;
	}

	.privacy-policy:first-child {
		margin: 0 15px 0 0;
	}

	.privacy-policy:nth-child(2) {
		margin: 0;
	}
}

@media (min-width: 1000px) {
	.privacy-policy {
		font-size: 12px;
		line-height: 14px;
		margin-right: 20px;
	}
}

@media (min-width: 1920px) {
	.privacy-policy {
		font-size: 13px;
		line-height: 15px;
		margin-right: 40px;
	}
}

.year {
	font-size: 12px;
	line-height: 14px;
	color: var(--color-white);
	text-align: center;
}

@media (min-width: 768px) {
	.year {
		display: none;
	}
}