.ourVisitors__container{
	margin: 29px auto 0;
	width: 320px;
	overflow: hidden;
	/* padding: 0 15px; */
}
@media (min-width: 480px){
	.ourVisitors__container{
		margin-top: 0;
		width: 480px;
	}
}
@media (min-width: 768px){
	.ourVisitors__container{
		margin-top: 30px;
		width: 768px;
	}
}
@media (min-width: 1000px){
	.ourVisitors__container{
		margin-top: 107px;
		width: 1000px;
	}
}
@media (min-width: 1920px){
	.ourVisitors__container{
		margin-top: 49px;
		width: 1920px;
	}
}
.ourVisitors__photo_container{
	margin: 35px auto 30px;
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	transition: margin 1s ease 0s;
}
@media (min-width: 480px){
	.ourVisitors__photo_container{
		margin: 40px 0 30px;
		width: 100%;
	}
}
@media (min-width: 768px){
	.ourVisitors__photo_container{
		margin: 40px 0 40px;
		width: 100%;
		transition: margin 2s ease 0s;
	}
}
@media (min-width: 1000px){
	.ourVisitors__photo_container{
		margin: 40px 0 30px;
		width: 100%;
	}
}
@media (min-width: 1920px){
	.ourVisitors__photo_container{
		margin: 40px 0 60px;
		width: 100%;
	}
}
.ourVisitors__photo{
	display: flex;
	flex-wrap: wrap;
	overflow:hidden;
	justify-content: space-between;
	width: 100%;
	flex-shrink: 0;
}
@media (min-width: 480px){
	.ourVisitors__photo{
		width: 100%;
		flex-shrink: 0;
	}
}
@media (min-width: 768px){
	.ourVisitors__photo{
		width: 100%;
		flex-shrink: 0;
	}
}
@media (min-width: 1000px){
	.ourVisitors__photo{
		width: 100%;
		flex-shrink: 0;
	}
}
@media (min-width: 1920px){
	.ourVisitors__photo{
		width: 100%;
		flex-shrink: 0;
	}
}
.photo__item{
	padding: 1px 0px;
}
.photo__item:nth-child(n+9){
	display: none;
}
@media (min-width: 480px){
	.photo__item:nth-child(n+9){
		display: inline;
	}
}
@media (min-width: 768px){
	.photo__item:nth-child(5n){
		display: none;
	}
	.photo__item:nth-child(n+10){
		display: none;
	}
}
@media(min-width:1920px){
	.photo__item:nth-child(5n){
		display: inline;
	}
}
.sliderCheckbox{
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn_prev {
	width: 40px;
	height: 40px;
	background: linear-gradient(180deg, #9BCFFF 0%, #FFF8B6 0.01%, #FFC700 100%);
	box-shadow: 0px 1px 0px #C89C00;
	transform: matrix(-1, 0, 0, 1, 0, 0);
	border-radius: 50%;
}
.arrow_prev{
	color: #6A5300;
	width: 10px;
	height: 10px;
	border-top: 3px solid #6A5300;
	border-right: 3px solid #6A5300;
	margin-left: 13px;
	margin-right: 13px;
	box-sizing: border-box;
	transform: rotate(45deg);
}
.btn_prev:hover{
	background: linear-gradient(180deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
}
.slider_range {
	appearance: none;
	width: 96px;
	height: 8px;
	margin: 0 27px;
	box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.17);
	border-radius: 10px;
	cursor: pointer;
}
.slider_range::-webkit-slider-thumb{
	appearance: none;
	width: 20px;
	height: 8px;
	background: linear-gradient(180deg, #9BCFFF 0%, #FFC700 0.01%, #FF9900 100%);
	border-radius: 10px;
}
.btn_next {
	width: 40px;
	height: 40px;
	background: linear-gradient(180deg, #9BCFFF 0%, #FFF8B6 0.01%, #FFC700 100%);
	box-shadow: 0px 1px 0px #C89C00;
	transform: matrix(-1, 0, 0, 1, 0, 0);
	border-radius: 50%;
}
.btn_next:hover{
	background: linear-gradient(180deg, #9BCFFF 0%, #FFE456 0.01%, #FFB800 100%);
}
.arrow_next{
	color: #6A5300;
	width: 10px;
	height: 10px;
	border-top: 3px solid #6A5300;
	border-right: 3px solid #6A5300;
	margin-left: 16px;
	margin-right: 16px;
	box-sizing: border-box;
	transform: rotate(-135deg);
}