.questions{
	position: relative;
}
.questioons__bg_container{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.question__bg_forest{
	width: 100%;
	height: 100%;
}
.question__bg_cloudsTop{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 5;
}
.question__bg_cloudsBottom{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 20;
}
.questions__container{
	position: relative;
	width: 320px;
	height: 813px;
	margin: 70px auto 0;

}
@media (min-width: 480px){
	.questions__container{
		width: 460px;
		height: 1061px;
		margin: 61px auto 0;
	}
}
@media (min-width: 768px){
	.questions__container{
		width: 748px;
		height: 1107px;
		margin: 80px auto 0;
	}
}
@media (min-width: 1000px){
	.questions__container{
		width: 1000px;
		height: 800px;
		margin: 115px auto 0;
	}
}
@media (min-width: 1920px){
	.questions__container{
		width: 1900px;
		margin: 49px auto 0;
	}
}
.questions__girl_with_horse{
	position: absolute;
	width: 100%;
	z-index: 19;
	bottom: 2px;
	left: 0;
}
@media (min-width: 480px){
	.questions__girl_with_horse{
		bottom: 0;
	}
}
@media (min-width: 1920px){
	.questions__girl_with_horse{
		width: auto;
		left: 99px;
	}
}
.questions__bush{
	position: absolute;
	z-index: 15;
	display: none;
}
@media (min-width: 1151px){
	.questions__bush{
		top: 534px;
		left: 853px;
		display: block;
	}
}
@media (min-width: 1920px){
	.questions__bush{
		top: 482px;
		left: 1390px;
	}
}
.questions__frame{
	position: absolute;
	z-index: 12;
	top: 65px;
	left: 50%;
	transform: translate(-50%, 0);
}
@media (min-width: 1000px){
	.questions__frame{
		top: 140px;
		left: 480px;
		transform: none;
	}
}
@media (min-width: 1920px){
	.questions__frame{
		top: 100px;
		left: 1024px;
	}
}
.questions__form_container{
	position: absolute;
	width: 300px;
	top: 100px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 25;
	display: flex;
	justify-content: center;
}
@media (min-width: 480px){
	.questions__form_container{
		width: 400px;
	}
}
@media (min-width: 768px){
	.questions__form_container{
		width: 450px;
		top: 100px;
	}
}
@media (min-width: 1000px){
	.questions__form_container{
		width: 450px;
		top: 175px;
		left: 531px;
		transform: none;
	}
}
@media (min-width: 1920px){
	.questions__form_container{
		width: 470px;
		top: 135px;
		left: 1075px;
	}
}
.questions__form{
	position: relative;
	display: flex;
	flex-direction: column;
}
.form__header{
	font-family: 'Philosopher';
	font-size: 22px;
	line-height: 22px;
	color: #363434;
	padding: 40px 0 15px;
	text-align: center;
}
@media (min-width: 480px){
	.form__header{
		font-size: 27px;
		line-height: 35px;
		padding: 47px 0 15px;
	}
}
@media (min-width: 768px){
	.form__header{
		font-size: 32px;
		padding: 50px 0 15px;
	}
}
@media (min-width: 1000px){
	.form__header{
		font-size: 35px;
		padding: 60px 0 15px;
	}
}
.form__description{
	color: var(--color-dark-grey);
	font-size: 	13px;
	line-height: 21px;
	width: 240px;
	margin: 0 auto;
	padding-bottom: 10px;
}
@media (min-width: 480px){
	.form__description{
		width: 300px;
		padding-bottom: 15px;
	}
}
@media (min-width: 1000px){
	.form__description{
		width: 340px;
		font-size: 15px;
		padding-bottom: 20px;
	}
}
.form__input{
	background: #FFF;
	border: 1px solid #8F8F8F;
	border-radius: 5px;
	font-size: 13px;
	line-height: 13px;
	width: 225px;
	height: 50px;
	padding-left: 14px;
}
@media (min-width: 480px){
	.form__input{
		font-size: 15px;
		line-height: 18px;
		width: 300px;
		height: 55px;
		padding-left: 19px;
	}
}
@media (min-width: 1000px){
	.form__input{
		font-size: 18px;
		line-height: 21px;
		width: 330px;
		height: 61px;
		padding-left: 21px;
	}
}
.write_letters{
	top: 0;
}
.write_figures{
	top: 0;
}
.confirm_agreement{
	bottom: 0;
}
.form__button{
	width: 225px;
	height: 45px;
	font-size: 10px;
	line-height: 10px;
	margin: 15px 0 25px;
	align-self: center;
}
@media (min-width: 480px){
	.form__button{
		width: 300px;
		height: 64px;
		font-size: 13px;
		line-height: 15px;
		margin: 20px 0 20px;
	}
}
@media (min-width: 768px){
	.form__button{
		font-size: 15px;
	}
}
@media (min-width: 1000px){
	.form__button{
		width: 330px;
		height: 70px;
		margin: 11px 0 20px;
	}
}
.form__checkbox_container.input_container{
	padding: 0 0 10px;
	align-self: flex-start;
}
@media (min-width: 768px){
	.form__checkbox_container.input_container{
		margin-left: 5px;
	}
}
.form__checkbox{
	position: absolute;
	z-index: -1;
	opacity: 0;
	width: 1.5em;
	height: 1.5em;
}
.form__label_checkbox{
	font-size: 13px;
	line-height: 15px;
	color: #8A8A8A;
	display: inline-flex;
	align-items: center;
	user-select: none;
}
@media (min-width: 480px){
	.form__label_checkbox{
		font-size: 15px;
		line-height: 18px;
	}
}
.form__label_checkbox p{
	text-decoration: underline;
}
.form__checkbox + label::before{
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 2px solid;
	border-color: var(--color-yellow);
	border-radius: 2px;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: center center;
}
.input_container.error .form__checkbox + label::before{
	border-color: var(--color-orange);
}
@media (min-width: 480px){
	.form__checkbox + label::before{
		width: 1.3333em;
		height: 1.3333em;
	}
}
.form__checkbox:checked+label::before{
	background-image: url(../img/questions/checkbox/checkbox.svg);
	background-size: contain;
}