@import url(variables.css);
@import url(fonts.css);
@import url(components.css);
@import url(intro.css);
@import url(about.css);
@import url(whyChooseUs.css);
@import url(club-directions.css);
@import url(ourVisitors.css);
@import url(ourHorses.css);
@import url(questions.css);
@import url(comments.css);
@import url(reset.css);
@import url(contacts.css);
@import url(footer.css);
@import url(swiper-bundle.8.4.5.min.css);


body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

body.stopPageScroll {
	overflow-y: hidden;
}