@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*----------INTRO-------------------------------------------------------*/
.wrapper {
  
}
.intro{
  position: relative;
  height: 948px;
}
.intro__container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.intro__header {
  display: flex;
  align-items: center;
  margin-top: 9px;
  color:#202020;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
.header__logo {
  flex: 1 1 auto;
}
.header__nav {
  flex: 0 1 427px;
}
.nav__menu{
  display: flex;
  justify-content: space-between;
  flex: 1 1 100%;
  text-transform: uppercase;
  
}
.nav__menu li{
  position: relative;
}
.menu__link{
  flex: 0 1 auto;
  color: #202020;
  padding-bottom: 10px;
}
.menu__link:hover{
  border-bottom: 1px solid #008139;
}
.header__contacts {
  margin-left: 83px;
  position: relative;
}
.tel_number{
  color: #202020;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.header__contacts::before{
  content: url(../img/intro/introHeader/tel.svg);
  position: absolute;
  left: -26px;
  top: 2px;
}
.header__contacts::after{
  content: "Ежедневно 9:00 – 22:00";
  position: absolute;
  color: #7D808A;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  display: block;
  top: 29px;
}
.intro__content {
  margin-top: 99px;
  min-width: 100%;
}
.intro__invitation{
  max-width: 613px;
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 57px;
  line-height: 107%;
  color: #000;
}
.intro__advertising{
  position: relative;
  margin-top: 40px;
}
.intro__advertising p{
  max-width: 477px;
  margin-left: 46px;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #646464;
}
.intro__advertising p::before{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 15px;
  background-color: #8F8F8F;
  height: 1px;
  width: 26px;
}
.button{
  position: relative;
  width: 270px;
  height: 70px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #6A5300;
  background: linear-gradient(180deg, #9BCFFF 0%, #FFF383 0.01%, #FFC700 100%);
  box-shadow: 0px 4px 0px #C89C00;
  z-index: 100;
}
.button::before{
  content: "";
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #7EB2FF 0%, #0057FF 100%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: -100;
}
.button:hover::before{
  opacity: 1;
}
.intro__button{
  margin-top: 42px;
}
._ibg {
  position: relative;
}
.intro__image_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.intro__image{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: right;
}
/*----------ABOUT-------------------------------------------------------*/
.about {
  
}
.about__container {
  /* display: flex;
  flex-direction: column; */
  max-width: 1438px;
  width: 100%;
  margin: 0 auto;
}

.about__title {
  text-align: center;
}
.title_every{
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 36px;
  color: #363434;
  text-align: center;
}
.about__content {
  margin-top: 89px;
  position: relative;
}
.about__content_image {
  display: inline-block;
  
}
.about__content_text {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  top: 30px;
}
.text__bonus_row {
  display: flex;
  max-width: 550px;
}
.bonus_row_1{
  
}
.bonus_row_2{
  margin-bottom: 17px;
}
.bonus__block {
  width: 275px;
  margin-bottom: 24px;
}
.bonus__block_title{
  font-family: 'Philosopher';
  font-weight: 700;
  font-size: 42px;
  line-height: 160%;
  color: #008139;
}
.bonus__block_text{
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #0B0B0B;
}
.bonus__block_text_3{
  max-width: 248px;
}
.text__subtext {
  font-family: 'Roboto';
  /* font-weight: 400; */
  font-size: 15px;
  line-height: 28px;
  color: #7E7E7E;
  max-width: 570px;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (min-width: 1000px) and (max-width: 1919.98px) {
  .about__container{
    max-width: 1000px;
  }
  .about__title{
    font-size: 30px;
  }
  .about__content_text{
    justify-content:flex-start;
    width: 506px;
    position: relative;
    top: 40px;
  }
  .bonus__block_title {
    font-size: 32px;
  }
  .bonus__block_text {
    font-size: 15px;
  }
  .bonus__block {
    margin-bottom: 30px;
    width: 240px;
  }
  .text__bonus_row {
    justify-content: space-between;
  }
  .text__subtext {
    position: static;
    max-width: 100%;
  }
}
/*----------WY-CHOOSE-US------------------------------------------------*/
.whyChooseUs__container {
  max-width: 1171px;
  margin: 185px auto 100px auto;
}
.whyChooseUs__title {
  margin-bottom: 108px;
}
.whyChooseUs__benefits{
  display: flex;
  justify-content: space-between;
}
.benefits__card{
  width: 281px;
  padding: 0 5px;
}
.benefits__card:first-child{
  width: 276px;
  padding-left: 0;
}
.benefits__card:last-child{
  width: 276px;
  padding-right: 0;
}
.benefits__image_container{
  display: flex;
  /* width: 271px; */
  height: 124px;
  align-items: center;
  justify-content: center;
}
.benefits__subtitle {
  margin-top: 7px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  color: #0B0B0B;
  text-align: center;
}
.benefits__text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  line-height: 151.7%;
  color: #7E7E7E;
  text-align: center;
  margin-top: 26px;
}
@media (min-width: 1000px) and (max-width: 1919.98px) {
  .whyChooseUs__container{
    max-width: 1000px;
    margin: 120px auto 60px auto;
  }
  .whyChooseUs__title {
    margin-bottom: 78px;
    font-size: 30px;
  }
  .benefits__card{
    width: 235px;
    padding: 0 5px;
  }
  .benefits__card:first-child{
    width: 230px;
  }
  .benefits__card:last-child{
    width: 230px;
  }
  .benefits__image_container{
    height: 110px;
  }
  .benefits__subtitle {
    margin-top: -7px;
    font-size: 15px;
    line-height: 25px;
  }
  .benefits__text {
    margin-top: 10px;
    font-size: 13px;
    line-height: 20px;
  }
}
/*----------CLUB-DIRECTION----------------------------------------------*/
.clubDirection{
  background-image: 
  url(../img/clubDirection/bg_club_direction.png),
  url(../img/clubDirection/sky_club_direction.png);
  background-position: 
  center bottom 8px, 
  center top;
  background-repeat: no-repeat;
  
}
.clubDirection__container {
  max-width: 1171px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
.clubDirection__title{
  margin-top: 100px;
}
.clubDirection__galery{
  margin-top: 143px;
}
.row_line{
  display: flex;
  justify-content: space-between;
}
.firstRow__line {
  align-items: flex-start;
}
.line__card {
  display: flex;
  flex-direction: column;
  width: 370px;
  align-items: center;
  background-color: #fff;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}
.card__image {
  position: relative;
  top: -25px;
  margin: 0 auto;
}
.card__image_galary{
  margin-bottom: 20px;
}
.card__title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #363434;
  width: 236px;
}
.card__row {
  background-color: #008139;
  width: 26px;
  height: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.card__text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #7E7E7E;
  width: 280px;
  margin-bottom: 45px;
}
.galary__secondRow {

}
.secondRow__line{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  top: -20px;
}
.clubDirection__button {
  margin: 30px auto 277px auto;
}
.horse_left{
  position: absolute;
  right: 1103px;
  top:1027px;
}
.horse_right{
  position: absolute;
  left: 1089px;
  top:1036px;
}
.clouds_botom{
  position: absolute;
  bottom: 0;
  left: -375px;
}
/*----------OUR-VISITORS------------------------------------------------*/
.ourVisitors{
}
.ourVisitors__container{
  
}
.ourVisitors__title{
  text-align: center;
  margin-top: 152px;
}
.ourVisitors__photo{
}
.photo__container{
  display: flex;
  width: 1920px;
  flex-wrap: wrap;
  margin: 70px auto 60px;
  overflow:hidden;
  justify-content:center;
}
@media(min-width:1920px){
  .photo__item{
    padding: 0 5px 5px 0;
  }
  .photo__item:nth-child(5n){
    padding: 0 0 5px 0;
  }
}
@media(max-width:1919.98px) {
  .ourVisitors__title{
    margin-top: 107px;
    font-size: 30px;
  }
  .photo__container{
    width: 1000px;
    margin: 40px auto 30px;
  }
  .photo__item{
    padding: 0 3px 3px 0;
  }
  .photo__item:nth-child(5n+4){
    padding: 0 0 3px 0;
  }
  .photo__item:nth-child(5n+1){
    padding: 0 4px 3px 0;
  }
  .photo__item:nth-child(5n){
    display: none;
  }
}
.sliderCheckbox{
  text-align: center;
}
/*----------OUR-HORSES--------------------------------------------------*/
.ourHorses__container{
  width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}
.ourHorses__title{
  margin-top: 150px;
  margin-bottom: 95px;
}
.ourHorses__galary{
  margin-bottom: 60px;
}
.galary__row_line{
  /* width: 1920px;
  margin: 0 auto; */
}
.line__card_1{
  position: relative;
  top: -40px;
  opacity: 0.4;
}
.line__card_5{
  position: relative;
  top: -40px;
  opacity: 0.4;
}
.ourHorses__line_card > .card__text{
  font-size: 15px;
}
@media (min-width: 1000px) and (max-width: 1919.98px){
  .ourHorses__container{
    width: 1000px;
  }
  .ourHorses__title{
    margin-top: 120px;
    margin-bottom: 65px;
    font-size: 30px;
  }
  .ourHorses__galary{
    margin-bottom: 40px;
  }
  .galary__row_line{
    justify-content: start;
  }
  .ourHorses__line_card{
    width: 293px;
    margin-right: 20px;
  }
  .line__card_1{
    position: static;
    opacity: 1;
  }
  .line__card_5{
    display: none;
  }
  .card__title_horses{
    font-size: 15px;
    line-height: 15px;
  }
  .card__row{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .ourHorses__line_card > .card__text{
    font-size: 14px;
    width: 260px;
    margin-bottom: 35px;
  }
}
/*----------QUESTIONS----------------------------------------------------*/
.questions{
  background-image: url(../img/questions/фон_вопросы_1.png);
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  margin-top: 140px;
}
.questions__container{
  position: relative;
  width: 1920px;
  height: 800px;
  margin: 0 auto;
  overflow: hidden;
}
.questions__clouds_top{
  position: absolute;
  top: 0;
  left: 0;
}
.questions__clouds_bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
}
.questions__girl_with_horse{
  position: absolute;
  top: 156px;
  left: 99px;
  z-index: 10;
}
.questions__bush{
  position: absolute;
  top: 482px;
  left: 1390px;
  z-index: 15;
}
.questions__frame{
  position: absolute;
  top: 100px;
  left: 1024px;
  z-index: 12;
}
.questions__form{
  position: absolute;
  width: 470px;
  top: 135px;
  left: 1075px;
  z-index: 25;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
}
.form__header{
  font-family: 'Philosopher';
  font-size: 35px;
  line-height: 35px;
  color: #363434;
  margin-top: 60px;
}
.form__description{
  color: #7E7E7E;
  margin: 15px 65px 30px 65px;
}
.form__input input{
  font-size: 18px;
  background: #FFF;
  border: 1px solid #8F8F8F;
  border-radius: 5px;
  width: 330px;
  height: 61px;
  margin-bottom: 20px;
  padding-left: 21px;
}
.form__button{
  width: 331px;
  margin-bottom: 30px;
}
.form__checkbox_container{
  width: 331px;
  margin: 0 auto;
  text-align: start;
}
.form__checkbox_original{
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 1.5em;
  height: 1.5em;
}
.form__label_checkbox{
  line-height: 18px;
  color: #8A8A8A;
}
.form__checkbox_original+label{
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.form__checkbox_original+label::before{
  content: "";
  display: inline-block;
  width: 1.3333em;
  height: 1.3333em;
  border: 2px solid #FFC700;
  border-radius: 2px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  
}
.form__checkbox_original:checked+label::before{
  background-image: url(../img/questions/checkbox/checkbox.svg);
}
/*----------CLIENT-SPEAK-ABOUT-US---------------------------------------*/
.clientSpeakAboutUs {
}
.clientSpeakAboutUs__container {
  width: 1920px;
  overflow: hidden;
  margin: 0 auto;
}
.clientSpeakAboutUs__title{
  margin-top: 140px;
  margin-bottom: 70px;
}
.clientSpeakAboutUs__feedbacks {
  margin: 0 auto 60px;
}
.feedbacks__container {
  display: flex;
  position: relative;
  left: -225px;
}
.feedbacks__card_container {
  
  margin-right: 30px;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
}
.card__container_1{
  position: relative;
  top: -40px;
  opacity: 0.4;
}
.card__container_4{
  position: relative;
  top: -40px;
  margin-right: 0;
  opacity: 0.4;
}
.card__container_inner{
  margin: 38.5px 43.5px 33.5px 43.5px;
  width: 480px;
  min-height: 216px;
}
.card__container_inner > .card__text {
  font-size: 15px;
  line-height: 24px;
  color: #363434;
  text-align: left;
  width: 100%;
  margin-bottom: 15px;
}
.card__detailed_container {
  margin: 0 auto;
  width: 150px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.card__detailed_container > p {
  padding-top: 8px;
  padding-bottom: 6px;
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #008139;
}
.card__detailed_container > p::after{
  content: url(../img/clientSpeakAboutUs/cardDetailed/unwrapIcon.png);
  margin-left: 12px;
}
.card__author {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 45px;
}
.author__photo {
  margin-right: 20px;
  /* margin-top: 4px; */
}
.author__name {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #101820;
  margin-bottom: 10px;
}
.author__cocialNetworkLink {
  flex: 1 1 auto;
}
.author__cocialNetworkLink > img{
  margin-right: 10px;
}