@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/* ======================================================== */
/*			INTRO											*/
/* ========================================================= */
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
/* ._container{
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 15px;
}
@media (min-width: 320px){
	._container{
		max-width: 320px;
	}
}
@media (min-width: 480px){
	._container{
		max-width: 480px;
	}
}
@media (min-width: 768px){
	._container{
		max-width: 738px;
	}
}
@media (min-width: 1000px){
	._container{
		max-width: 970px;
	}
}
@media (min-width: 1920px){
	._container{
		max-width: 1920px;
		
	}
} */
.intro{
	position: relative;
	/* height: 948px; */
}
.intro__container {
	/* max-width: 1170px; */
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 2;
	padding: 0 15px;
}
@media (min-width: 320px){
	.intro__container{
		max-width: 320px;
	}
}
@media (min-width: 480px){
	.intro__container{
		max-width: 480px;
	}
}
@media (min-width: 768px){
	.intro__container{
		max-width: 738px;
	}
}
@media (min-width: 1000px){
	.intro__container{
		max-width: 970px;
	}
}
@media (min-width: 1920px){
	.intro__container{
		max-width: 1170px;
	}
}
.intro__header {
	display: flex;
	flex-wrap: wrap;
	margin-top: 9px;
}
.header__logo {
	flex: 1 1 auto;
}
.header__nav {
	/* flex: 0 1 427px; */
	margin-top: 19px;
}
@media (min-width: 768px){
	.header__nav {
		flex: 0 1 345px;
	}
}
@media (min-width: 1000px){
	.header__nav {
		flex: 0 1 427px;
	}
}
.nav__menu{
	display: flex;
	justify-content: space-between;
}
.nav__menu_header{
	text-transform: uppercase;
}
/* .menu__link{
	font-size: 13px;
	line-height: 15px;
} */
@media (min-width: 768px){
	.menu__link{
		font-size: 11px;
		line-height: 13px;
	}
}
@media (min-width: 1000px){
	.menu__link{
		font-size: 13px;
		line-height: 15px;
	}
}
.menu__link:hover{
	border-bottom: 1px solid #008139;
}
.menu__link_header{
	color: #202020;
	padding: 10px 5px;
}
.header__contacts {
	/* margin: 16px 0px 0px 83px; */
	position: relative;
}
@media (min-width: 768px){
	.header__contacts {
		margin: 19px 0px 0px 67px;
	}
}
@media (min-width: 1000px){
	.header__contacts {
		margin: 16px 0px 0px 86px;
	}
}
@media (min-width: 1920px){
	.header__contacts {
		margin: 16px 0px 0px 83px;
	}
}
.tel_number{
	color: #202020;
	font-weight: 700;
	/* font-size: 18px; */
	/* line-height: 21px; */
}
@media (min-width: 768px){
	.tel_number{
		font-size: 14px;
		line-height: 16px;
	}
}
@media (min-width: 1000px){
	.tel_number{
		font-size: 18px;
		line-height: 21px;
	}
}
.header__contacts::before{
	/* content: url(../img/intro/introHeader/x1000/tel_x1000.svg); */
	position: absolute;
	/* left: -26px; */
	top: 2px;
}
@media (min-width: 768px){
	.header__contacts::before{
		content: url(../img/intro/introHeader/x768/tel_x768.svg);
		left: -21px;
	}
}
@media (min-width: 1000px){
	.header__contacts::before{
		content: url(../img/intro/introHeader/x1000/tel_x1000.svg);
		left: -26px;
	}
}
.header__contacts::after{
	content: "Ежедневно 9:00 – 22:00";
	position: absolute;
	color: #7D808A;
	/* font-size: 13px; */
	/* line-height: 15px; */
	display: block;
	/* top: 29px; */
	}
@media (min-width: 768px){
	.header__contacts::after{
		font-size: 11px;
		line-height: 13px;
		top: 23px;
	}
}
@media (min-width: 1000px){
	.header__contacts::after{
		font-size: 13px;
		line-height: 15px;
		top: 29px;
	}
}
.intro__content {
	margin-top: 99px;
	min-width: 100%;
}
.intro__invitation{
	/* max-width: 613px; */
	font-family: 'Philosopher', sans-serif;
	font-weight: 700;
	/* font-size: 57px; */
	/* line-height: 107%; */
	color: #000;
}
@media (min-width: 768px){
	.intro__invitation{
		max-width: 406px;
		font-size: 37px;
		line-height: 41px;
	}
}
@media (min-width: 1000px){
	.intro__invitation{
		max-width: 506px;
		font-size: 47px;
		line-height: 107%;
	}
}
@media (min-width: 1920px){
	.intro__invitation{
		max-width: 613px;
		font-size: 57px;
		line-height: 107%;
  }
}
.intro__advertising{
	position: relative;
	/* margin-top: 40px; */
}
@media (min-width: 768px){
	.intro__advertising{
		margin-top: 20px;
	}
}
@media (min-width: 1000px){
	.intro__advertising{
		margin-top: 30px;
	}
}
@media (min-width: 1920px){
	.intro__advertising{
		margin-top: 40px;
	}
}
.intro__advertising p{
	/* max-width: 477px; */
	/* margin-left: 46px; */
	font-family: 'Alegreya Sans', sans-serif;
	/* font-size: 24px; */
	/* line-height: 140%; */
	color: #646464;
}
@media (min-width: 768px){
	.intro__advertising p{
		font-size: 16px;
		line-height: 22px;
		max-width: 320px;
		margin-left: 27px;
	}
}
@media (min-width: 1000px){
	.intro__advertising p{
		font-size: 20px;
		line-height: 140%;
		max-width: 400px;
		margin-left: 46px;
	}
}
@media (min-width: 1920px){
	.intro__advertising p{
		font-size: 24px;
		line-height: 140%;
		max-width: 477px;
		margin-left: 46px;
	}
}
.intro__advertising p::before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	/* top: 15px; */
	background-color: #8F8F8F;
	height: 1px;
	/* width: 26px; */
}
@media (min-width: 768px){
	.intro__advertising p::before{
		top: 10px;
		width: 15px;
	}
}
@media (min-width: 1000px){
	.intro__advertising p::before{
		top: 13px;
		width: 26px;
	}
}
@media (min-width: 1920px){
	.intro__advertising p::before{
		top: 15px;
		width: 26px;
	}
}
.button{
	position: relative;
	/* width: 270px; */
	/* height: 70px; */
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	/* font-size: 15px; */
	line-height: 32px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: #6A5300;
	background: linear-gradient(180deg, #9BCFFF 0%, #FFF383 0.01%, #FFC700 100%);
	box-shadow: 0px 4px 0px #C89C00;
	z-index: 100;
}
@media (min-width: 768px){
	.button {
		width: 180px;
		height: 45px;
		font-size: 10px;
	}
}
@media (min-width: 1000px){
	.button {
		width: 218px;
		height: 60px;
		font-size: 13px;
	}
}
@media (min-width: 1920px){
	.button {
		width: 270px;
		height: 70px;
		font-size: 15px;
	}
  }
.button::before{
	content: "";
	position: absolute;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, #7EB2FF 0%, #0057FF 100%);
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	z-index: -100;
}
.button:hover::before{
	opacity: 1;
}
/* .intro__button{
	margin-top: 42px;
} */
@media (min-width: 768px){
	.intro__button{
		margin-top: 20px;
		margin-bottom: 222px;
	}
}
@media (min-width: 1000px){
	.intro__button{
		margin-top: 37px;
		margin-bottom: 287px;
	}
}
@media (min-width: 1920px){
	.intro__button{
		margin-top: 42px;
		margin-bottom: 360px;
	}
  }
.intro__image_container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.intro__image_bg{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: right;
}
/* ======================================================== */
/*			ABOUT											*/
/* ========================================================= */
.about__container {
	/* max-width: 1438px; */
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
@media (min-width: 768px){
	.about__container{
		margin-top: 5px;
		max-width: 768px;
	}
}
@media (min-width: 1000px){
	.about__container{
		margin-top: 7px;
		max-width: 1000px;
	}
}
@media (min-width: 1920px){
	.about__container{
		margin-top: 0;
		max-width: 1470px;
	}
}
.title_every{
	font-family: 'Philosopher', sans-serif;
	font-size: 40px;
	line-height: 36px;
	color: #363434;
	text-align: center;
}
@media (min-width: 768px){
	.title_every{
	font-size: 27px;
	line-height: 27px;
	}
}
@media (min-width: 1000px){
	.title_every{
	font-size: 30px;
	line-height: 36px;
	}
}
@media (min-width: 1920px){
	.title_every{
	font-size: 40px;
	line-height: 36px;
	}
}
.about__content {
	margin-top: 89px;
	position: relative;
}
@media (min-width: 768px){
	.about__content {
		margin-top: 38px;
	}
}
@media (min-width: 1000px){
	.about__content {
		margin-top: 61px;
	}
}
@media (min-width: 1920px){
	.about__content {
		margin-top: 89px;
	}
}
.about__content_image {
	display: inline-block;
}
.about__content_text {
	display: inline-flex;
	flex-direction: column;
	position: relative;
}
@media (min-width: 768px){
	.about__content_text{
		width: 380px;
		top: 23px;
	}
}
@media (min-width: 1000px){
	.about__content_text{
		width: 445px;
		top: 40px;
	}
}
@media (min-width: 1920px){
	.about__content_text{
		width: 530px;
		top: 30px;
	}
}
.text__bonus_row {
	display: flex;
	margin-bottom: 24px;
}
@media (min-width: 768px){
	.text__bonus_row {
		justify-content: space-between;
		margin-bottom: 36px;
	}
}
@media (min-width: 1000px){
	.text__bonus_row {
		justify-content: space-between;
		margin-bottom: 30px;
	}
}
@media (min-width: 1920px){
	.text__bonus_row {
		justify-content:flex-start;
		margin-bottom: 24px;
	}
}
.bonus_row_2{
	margin-bottom: 17px;
}
.bonus__block {
	width: 275px;
}
@media (min-width: 768px){
	.bonus__block {
		width: 240px;
	}
}
@media (min-width: 1000px){
	.bonus__block {
		width: 240px;
	}
}
@media (min-width: 1920px){
	.bonus__block {
		width: 275px;
	}
}
.bonus__block_title{
	font-family: 'Philosopher';
	font-weight: 700;
	font-size: 42px;
	line-height: 160%;
	color: #008139;
}
@media (max-width: 1919.98px) {
	.bonus__block_title {
		font-size: 32px;
	}
}
.bonus__block_text{
	font-weight: 500;
	font-size: 17px;
	line-height: 25px;
	color: #0B0B0B;
}
@media (min-width: 768px){
	.bonus__block_text {
		font-size: 13px;
		line-height: 22px;
	}
}
@media (min-width: 1000px){
	.bonus__block_text {
		font-size: 15px;
		line-height: 25px;
	}
}
@media (min-width: 1920px){
	.bonus__block_text {
		font-size: 17px;
		line-height: 25px;
	}
}
.bonus__block_text_3{
	max-width: 248px;
}
.text__subtext {
	font-size: 15px;
	line-height: 28px;
	color: #7E7E7E;
	max-width: 570px;
	position: absolute;
	right: 0;
	bottom: 0;
}
@media (min-width: 768px){
	.text__subtext {
		font-size: 13px;
		line-height: 20px;
		position: static;
		max-width: 100%;
		margin: 34px auto 0;
  }
}
@media (min-width: 1000px){
	.text__subtext {
		font-size: 13px;
		line-height: 20px;
		position: static;
		max-width: 100%;
		margin: 34px auto 0;
  }
}
@media (min-width: 1920px){
	.text__subtext {
		font-size: 15px;
		line-height: 28px;
		position: absolute;
		max-width: 570px;
		margin: 0;
  }
}
/* ======================================================== */
/*			WHY CHOOSE US									*/
/* ========================================================= */
.whyChooseUs__container {
	/* max-width: 1170px; */
	/* margin: 185px auto 0; */
	overflow: hidden;
	padding: 0 15px;
}
@media (min-width: 768px){
	.whyChooseUs__container{
		max-width: 768px;
		margin: 79px auto 0;
	}
}
@media (min-width: 1000px){
	.whyChooseUs__container{
		max-width: 1000px;
		margin: 120px auto 0;
	}
}
@media (min-width: 1920px){
	.whyChooseUs__container{
		max-width: 1170px;
		margin: 185px auto 0;
	}
}
.whyChooseUs__benefits{
	display: flex;
	justify-content: space-between;
	/* margin-top: 108px;
	margin-bottom: 100px; */
}
@media (min-width: 768px){
	.whyChooseUs__benefits{
		margin-top: 78px;
		margin-bottom: 60px;
		margin: 30px 0 35px;
		}
}
@media (min-width: 1000px){
	.whyChooseUs__benefits{
		margin: 78px 0 60px;
		}
}
@media (min-width: 1920px){
	.whyChooseUs__benefits{
		margin: 108px 0 100px;
		}
}
.benefits__card{
	/* width: 281px; */
	/* padding: 0 5px; */
}
@media (min-width: 768px){
	.benefits__card{
		width: 180px;
	}
}
@media (min-width: 1000px){
	.benefits__card{
		width: 242px;
	}
}
@media (min-width: 1920px){
	.benefits__card{
		width: 270px;
	}
}
.benefits__card:first-child{
	/* width: 276px; */
	padding-left: 0;
}
/* @media (min-width: 768px){
	.benefits__card:first-child{
		width: 175px;
	}
}
@media (min-width: 1000px){
	.benefits__card:first-child{
		width: 230px;
	}
}
@media (min-width: 1920px){
	.benefits__card:first-child{
		width: 276px;
	}
} */
.benefits__card:last-child{
	/* width: 276px; */
	padding-right: 0;
}
/* @media (max-width: 1919.98px) {
	.benefits__card:last-child{
		width: 230px;
	}
} */
.benefits__image_container{
	display: flex;
	/* height: 124px; */
	align-items: center;
	justify-content: center;
}
/* @media (max-width: 1919.98px) {
	.benefits__image_container{
		height: 110px;
	}
} */
.benefits__subtitle {
	margin-top: 7px;
	font-weight: 500;
	/* font-size: 19px; */
	/* line-height: 22px; */
	color: #0B0B0B;
	text-align: center;
}
@media (min-width: 768px){
	.benefits__subtitle {
		font-size: 15px;
		line-height: 20px;
		width: 110px;
		margin-left: auto;
		margin-right: auto;
	}
	.benefits__card:nth-child(3) .benefits__subtitle{
		width: auto;
	}
}
@media (min-width: 1000px){
	.benefits__subtitle {
		/* font-size: 15px; */
		line-height: 25px;
		width: auto;
	}
}
@media (min-width: 1920px){
	.benefits__subtitle {
		font-size: 19px;
		line-height: 22px;
		width: auto;
	}
}
.benefits__text {
	/* font-size: 15px; */
	/* line-height: 151.7%; */
	color: #7E7E7E;
	text-align: center;
	/* margin-top: 26px; */
	padding: 0 5px;
}
@media (min-width: 768px){
	.benefits__text {
		margin-top: 10px;
		font-size: 13px;
		line-height: 20px;
  }
}
@media (min-width: 1920px){
	.benefits__text {
		margin-top: 26px;
		font-size: 15px;
		line-height: 151.7%;
	}
  }
/* ======================================================== */
/*			CLUB DIRECTION									*/
/* ========================================================= */
.clubDirection{
	position: relative;
}
.clubDirection_bg_container{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.clubDirection_bg_grass{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.clubDirection_bg_sky{
	width: 100%;
	height: 100%;
}
.clubDirection_bg_clouds_botom{
	position: absolute;
	/* bottom: -10px; */
	left: 0;
	width: 100%;
	z-index: 5;
}
@media (min-width: 768px){
	.clubDirection_bg_clouds_botom{
		bottom: 0;
	}
}
@media (min-width: 1000px){
	.clubDirection_bg_clouds_botom{
		bottom: 0;
	}
}
@media (min-width: 1920px){
	.clubDirection_bg_clouds_botom{
		bottom: -10px;
	}
}
.clubDirection__container {
	/* max-width: 1170px; */
	/* padding-top: 100px;; */
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	position: relative;
	overflow: visible;
	padding: 0 15px;
}
@media (min-width: 768px){
	.clubDirection__container {
		max-width: 768px;
		padding-top: 35px;
	}
}
@media (min-width: 1000px){
	.clubDirection__container {
		max-width: 1000px;
		padding-top: 60px;
	}
}
@media (min-width: 1920px){
	.clubDirection__container {
		max-width: 1200px;
		padding-top: 100px;
	}
}
/* .clubDirection__galery{
	margin-top: 143px;
} */
@media (min-width: 768px){
	.clubDirection__galery{
		margin-top: 105px;
		display: flex;
		justify-content: space-around;
	}
}
@media (min-width: 1000px){
	.clubDirection__galery{
		margin-top: 105px;
		display: block;
	}
}
@media (min-width: 1920px){
	.clubDirection__galery{
		margin-top: 143px;
	}
}
.firstRow__line {
	display: flex;
	/* justify-content: space-between; */
	align-items: flex-start;
	flex-wrap: wrap;
}
@media (min-width: 768px){
	.firstRow__line{
		flex-direction: column;
	}
}
@media (min-width: 1000px){
	.firstRow__line{
		flex-direction: row;
		justify-content: space-around;
		margin-bottom: 39px;
	}
}
@media (min-width: 1920px){
	.firstRow__line{
		justify-content: space-between;
		margin-bottom: 0;
	}
}
.secondRow__line{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: -20px;
	flex-wrap: wrap;
}
@media (min-width: 768px){
	.secondRow__line{
		flex-direction: column;
		margin-top: 0;
	}
}
@media (min-width: 1000px){
	.secondRow__line{
		flex-direction: row;
		justify-content: space-around;
	}
}
@media (min-width: 1920px){
	.secondRow__line{
		flex-direction: row;
		justify-content: space-between;
		margin-top: -20px;
	}
}
.line__card {
	display: flex;
	flex-direction: column;
	/* width: 370px; */
	align-items: center;
	background-color: #fff;
	border: 1px solid #EAEAEA;
	box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.07);
	border-radius: 5px;
}
@media (min-width: 768px){
	.line__card {
		width: 354px;
		height: 300px;
		margin-bottom: 45px;
	}
	.line__card:last-child{
		margin-bottom: 0;
	}
}
@media (min-width: 1000px){
	.line__card {
		width: 300px;
		height: auto;
		margin-bottom: 0;
	}
}
@media (min-width: 1920px){
	.line__card {
		width: 370px;
	}
}
.card__image_galary{
	position: relative;
	top: -20px;
	margin: 0 auto;
	/* margin-bottom: 20px; */
}
@media (min-width: 768px){
	.card__image_galary{
		margin-bottom: 0;
	}
}
@media (min-width: 1000px){
	.card__image_galary{
		margin-bottom: 0;
	}
}
@media (min-width: 1920px){
	.card__image_galary{
		margin-bottom: 25px;
	}
}
.clubDirection_card__title {
	font-weight: 500;
	/* font-size: 23px;
	line-height: 27px; */
	text-align: center;
	color: #363434;
	width: 236px;
}
@media (min-width: 768px){
	.clubDirection_card__title{
	font-size: 15px;
	line-height: 20px;
	}
}
@media (min-width: 1000px){
	.clubDirection_card__title{
		line-height: 25px;
	}
}
@media (min-width: 1920px){
	.clubDirection_card__title{
		font-size: 23px;
		line-height: 27px;
	}
}
.clubDirection_card__row {
	background-color: #008139;
	width: 26px;
	height: 1px;
	/* margin-top: 25px;
	margin-bottom: 25px; */
}
@media (min-width: 768px){
	.clubDirection_card__row{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
@media (min-width: 1000px){
	.clubDirection_card__row{
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
@media (min-width: 1920px){
	.clubDirection_card__row{
		margin-top: 25px;
		margin-bottom: 25px;
	}
}
.clubDirection_card__text{
	/* font-size: 16px;
	line-height: 21px; */
	text-align: center;
	color: #7E7E7E;
	/* width: 280px;
	margin-bottom: 45px; */
}
@media (min-width: 768px){
	.clubDirection_card__text{
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 0;
		width: 304px;
	}
}
@media (min-width: 1000px){
	.clubDirection_card__text{
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 33px;
		width: 250px;
	}
}
@media (min-width: 1920px){
	.clubDirection_card__text{
		font-size: 16px;
		line-height: 21px;
		margin-bottom: 45px;
		width: 280px;
	}
}
/* .clubDirection__button {
	margin: 50px auto 277px;
} */
@media (min-width: 768px){
	.clubDirection__button {
		margin: 40px auto 235px;
	}
}
@media (min-width: 1000px){
	.clubDirection__button {
		margin: 40px auto 256px;
	}
}
@media (min-width: 1920px){
	.clubDirection__button {
		margin: 50px auto 277px;
	}
}
.horse_left{
	position: absolute;
}
@media (min-width: 768px){
	.horse_left{
		right: 588px; 
		top: 1148px;
	}
}
@media (min-width: 1000px){
	.horse_left{
		right: 781px;
		top: 930px;
	}
}
@media (min-width: 1920px){
	.horse_left{
		right: 1103px;
		top:1047px;
	}
}
.horse_right{
	position: absolute;
}
@media (min-width: 768px){
	.horse_right{
		left: 577px;
		top: 1142px;
	}
}
@media (min-width: 1000px){
	.horse_right{
		left: 760px;
		top: 924px;
	}
}
@media (min-width: 1920px){
	.horse_right{
		left: 1110px;
		top: 1047px;
	}
}
/* ======================================================== */
/*			OUR VISITORS									*/
/* ========================================================= */
.ourVisitors__container{
	/* margin-top: 152px; */
	margin: 0 auto;
	/* padding: 0 15px; */
}
@media (min-width: 768px){
	.ourVisitors__container{
		margin-top: 30px;
		width: 768px;
	}
}
@media (min-width: 1000px){
	.ourVisitors__container{
		margin-top: 107px;
		width: 1000px;
	}
}
@media (min-width: 1920px){
	.ourVisitors__container{
		margin-top: 152px;
		width: 1920px;
	}
}
.ourVisitors__photo{
	display: flex;
	/* width: 1920px; */
	flex-wrap: wrap;
	/* margin: 70px auto 60px; */
	overflow:hidden;
	justify-content: space-around;
}
@media (min-width: 768px){
	.ourVisitors__photo{
		margin: 40px auto 40px;
	}
}
@media (min-width: 1000px){
	.ourVisitors__photo{
		margin: 40px auto 30px;
	}
}
@media (min-width: 1920px){
	.ourVisitors__photo{
		margin: 70px auto 60px;
	}
}
@media (min-width: 768px){
	.photo__item{
		padding: 0 0 2px;
	}
	.photo__item:nth-child(5n){
		display: none;
	}
}
/* @media (min-width: 1000px){
	.photo__item:nth-child(5n){
		display: none;
	}
} */
@media(min-width:1920px){
	.photo__item:nth-child(5n){
		display: inline;
	}
}
.sliderCheckbox{
  text-align: center;
}
/* ======================================================== */
/*			OUR HORSES										*/
/* ========================================================= */
.our-horses__container{
	/* width: 1920px; */
	margin: 0 auto;
	padding: 0 15px;
	overflow: hidden;
}
@media (min-width: 768px){
	.our-horses__container{
		width: 768px;
	}
}
@media (min-width: 1000px){
	.our-horses__container{
		width: 1000px;
	}
}
@media (min-width: 1920px){
	.our-horses__container{
		width: 1950px;
	}
}
/* .our-horses__title{
	margin-top: 150px;
	margin-bottom: 95px;
} */
@media (min-width: 768px){
	.our-horses__title{
		margin-top: 89px;
		margin-bottom: 65px;
	}
}
@media (min-width: 1000px){
	.our-horses__title{
		margin-top: 120px;
	}
}
@media (min-width: 1920px){
	.our-horses__title{
		margin-top: 150px;
		margin-bottom: 95px;
	}
}
/* .our-horses__galary{
	margin-bottom: 60px;
} */
@media (min-width: 768px){
	.our-horses__galary{
		margin-bottom: 40px;
	}
}
/* @media (min-width: 1000px){
	.our-horses__galary{
		margin-bottom: 40px;
	}
} */
@media (min-width: 1920px){
	.our-horses__galary{
		margin-bottom: 60px;
	}
}
.galary__row{
	display: flex;
	/* justify-content: space-between; */
}
@media (min-width: 768px){
	.galary__row{
		justify-content: start;
	}
}
@media (min-width: 1920px){
	.galary__row{
		justify-content: space-between;
	}
}
.galary__item {
	display: flex;
	flex-direction: column;
	/* width: 370px; */
	align-items: center;
	background-color: #fff;
	border: 1px solid #EAEAEA;
	box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.07);
	border-radius: 5px;
}
@media (min-width: 768px){
	.galary__item{
		width: 250px;
		margin-right: 20px;
	}
}
@media (min-width: 1000px){
	.galary__item{
		width: 293px;
	}
}
@media (min-width: 1920px){
	.galary__item{
		width: 370px;
		margin-right: 0;
	}
}
/* .galary__item:first-child{
	position: relative;
	top: -40px;
	opacity: 0.4;
} */
/* @media (min-width: 768px){
	.galary__item:first-child{
		opacity: 1;
	}
} */
@media (min-width: 1920px){
	.galary__item:first-child{
		position: relative;
		opacity: 0.4;
		top: -40px;
	}
}
/* .galary__item:last-child{
	position: relative;
	top: -40px;
	opacity: 0.4;
} */
@media (min-width: 768px){
	.galary__item:nth-child(4){
		display: none;
	}
	.galary__item:last-child{
		display: none;
	}
}
@media (min-width: 1000px){
	.galary__item:nth-child(4){
		display: flex;
	}
}
@media (min-width: 1920px){
	.galary__item:last-child{
		display: flex;
		position: relative;
		top: -40px;
		opacity: 0.4;
	}
}
.item__image {
	position: relative;
	top: -25px;
	margin: 0 auto;
}
.item__title{
	font-weight: 500;
	/* font-size: 23px; */
	/* line-height: 27px; */
	text-align: center;
	color: #363434;
	/* width: 236px; */
}
@media (min-width: 768px){
	.item__title{
		font-size: 15px;
		line-height: 15px;
		width: 193px;
	}
}
@media (min-width: 1000px){
	.item__title{
		width: 236px;
	}
}
@media (min-width: 1920px){
	.item__title{
		font-size: 23px;
		line-height: 27px;
	}
}
.item__line{
	background-color: #008139;
	width: 26px;
	height: 1px;
	/* margin-top: 25px; */
	/* margin-bottom: 25px; */
}
@media (min-width: 768px){
	.item__line{
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
@media (min-width: 1000px){
	.item__line{
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
@media (min-width: 1920px){
	.item__line{
		margin-top: 25px;
		margin-bottom: 25px;
	}
}
.item__text{
	/* width: 280px; */
	font-size: 15px;
	/* line-height: 21px; */
	text-align: center;
	color: #7E7E7E;
	margin-bottom: 45px;
}
@media (min-width: 768px){
	.item__text{
		width: 217px;
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 35px;
	}
}
@media (min-width: 1000px){
	.item__text{
		width: 260px;
		font-size: 14px;
		line-height: 21px;
	}
}
@media (min-width: 1920px){
	.item__text{
		width: 280px;
		font-size: 15px;
		margin-bottom: 45px;
	}
}
/* ======================================================== */
/*			QUESTION										*/
/* ========================================================= */
.questions{
	position: relative;
}
.questioons__bg_container{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.question__bg_forest{
	width: 100%;
	height: 100%;
}
.question__bg_cloudsTop{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 5;
}
.question__bg_cloudsBottom{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 20;
}
.questions__container{
	position: relative;
	/* width: 1920px; */
	/* height: 800px; */
	margin: 0 auto;
}
@media (min-width: 768px){
	.questions__container{
		width: 768px;
		/* overflow: visible; */
		height: 1107px;
	}
}
@media (min-width: 1000px){
	.questions__container{
		width: 1000px;
		height: 800px;
		overflow: hidden;
	}
}
@media (min-width: 1920px){
	.questions__container{
		width: 1920px;
		overflow: visible;
	}
}
.questions__girl_with_horse{
	position: absolute;
	z-index: 10;
	/* bottom: 0; */
	/* left: 99px; */
}
@media (min-width: 768px){
	.questions__girl_with_horse{
		left: 0;
		bottom: 0;
		z-index: 19;
	}
}
@media (min-width: 1920px){
	.questions__girl_with_horse{
		left: 99px;
	}
}
.questions__bush{
	position: absolute;
	z-index: 15;
	/* top: 482px; */
	/* left: 1390px; */
}
@media (min-width: 768px){
	.questions__bush{
		display: none;
	}
}
@media (min-width: 1000px){
	.questions__bush{
		top: 534px;
		left: 853px;
		display: block;
	}
}
@media (min-width: 1920px){
	.questions__bush{
		top: 482px;
		left: 1390px;
	}
}
.questions__frame{
	position: absolute;
	z-index: 12;
	/* top: 100px; */
	/* left: 1024px; */
}
@media (min-width: 768px){
	.questions__frame{
		/* top: 99px; */
		top: 65px;
		left: 50%;
		transform: translate(-50%, 0);
	}
}
@media (min-width: 1000px){
	.questions__frame{
		top: 140px;
		left: 480px;
		transform: none;
	}
}
@media (min-width: 1920px){
	.questions__frame{
		top: 100px;
		left: 1024px;
	}
}
.questions__form{
	position: absolute;
	width: 470px;
	top: 135px;
	left: 1075px;
	z-index: 25;
	text-align: center;
}
@media (min-width: 768px){
	.questions__form{
		width: 450px;
		/* top: 134px; */
		top: 100px;
		left: 50%;
		transform: translate(-50%, 0);
	}
}
@media (min-width: 1000px){
	.questions__form{
		width: 450px;
		top: 175px;
		left: 531px;
		transform: none;
	}
}
@media (min-width: 1920px){
	.questions__form{
		width: 470px;
		top: 135px;
		left: 1075px;
	}
}
.form__header{
	font-family: 'Philosopher';
	/* font-size: 35px; */
	line-height: 35px;
	color: #363434;
	/* margin-top: 60px; */
}
@media (min-width: 768px){
	.form__header{
		font-size: 32px;
		margin-top: 50px;
	}
}
@media (min-width: 1000px){
	.form__header{
		font-size: 35px;
		margin-top: 60px;
	}
}
.form__description{
	color: #7E7E7E;
	/* font-size: 15px; */
	line-height: 21px;
	/* width: 360px; */
	/* margin: 15px auto 30px; */
}
@media (min-width: 768px){
	.form__description{
		width: 300px;
		margin: 15px auto 25px;
		font-size: 13px;
	}
}
@media (min-width: 1000px){
	.form__description{
		width: 340px;
		margin: 15px auto 30px;
		font-size: 15px;
	}
}
.form__input input{
	background: #FFF;
	border: 1px solid #8F8F8F;
	border-radius: 5px;
	/* font-size: 18px;
	line-height: 21px; */
	/* width: 330px;
	height: 61px; */
	/* margin-bottom: 20px;
	padding-left: 21px; */
}
@media (min-width: 768px){
	.form__input input{
		font-size: 15px;
		line-height: 18px;
		width: 300px;
		height: 55px;
		margin-bottom: 15px;
		padding-left: 19px;
	}
}
@media (min-width: 1000px){
	.form__input input{
		font-size: 18px;
		line-height: 21px;
		width: 330px;
		height: 61px;
		margin-bottom: 20px;
		padding-left: 21px;
	}
}
.form__button{
	/* width: 340px; */
	/* height: 70px; */
	margin-bottom: 30px;
}
@media (min-width: 768px){
	.form__button{
		width: 300px;
		height: 64px;
		font-size: 15px;
		line-height: 15px;
	}
}
@media (min-width: 1000px){
	.form__button{
		width: 330px;
		height: 70px;
	}
}
@media (min-width: 1920px){
	.form__button{
		width: 340px;
	}
}
.form__checkbox_container{
	width: 331px;
	margin: 0 auto;
	text-align: start;
}
@media (min-width: 768px){
	.form__checkbox_container{
		width: 300px;
	}
}
.form__checkbox_original{
	position: absolute;
	z-index: -1;
	opacity: 0;
	width: 1.5em;
	height: 1.5em;
}
.form__label_checkbox{
	font-size: 15px;
	line-height: 18px;
	color: #8A8A8A;
}
.form__checkbox_original+label{
	display: inline-flex;
	align-items: center;
	user-select: none;
}
.form__checkbox_original+label::before{
	content: "";
	display: inline-block;
	width: 1.3333em;
	height: 1.3333em;
	border: 2px solid #FFC700;
	border-radius: 2px;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: center center;
}
.form__checkbox_original:checked+label::before{
  background-image: url(../img/questions/checkbox/checkbox.svg);
}
/* ======================================================== */
/*		CLIENTS SPEAK ABOUT US										*/
/* ========================================================= */
.clientSpeakAboutUs__container {
  width: 1920px;
  overflow: hidden;
  margin: 0 auto;
}
@media (min-width: 768px){
	.clientSpeakAboutUs__container {
	width: 768px;
	}
}
@media (min-width: 1000px){
	.clientSpeakAboutUs__container {
	width: 1000px;
	}
}
@media (min-width: 1920px){
	.clientSpeakAboutUs__container {
	width: 1920px;
	}
}
/* .clientSpeakAboutUs__title{
	margin-top: 120px;
	margin-bottom: 40px;
} */
@media (min-width: 768px){
	.clientSpeakAboutUs__title{
		margin-top: 80px;
		margin-bottom: 40px;
	}
}
@media (min-width: 1000px){
	.clientSpeakAboutUs__title{
		margin-top: 140px;
		margin-bottom: 70px;
	}
}
@media (min-width: 1920px){
	.clientSpeakAboutUs__title{
		margin-top: 120px;
		margin-bottom: 40px;
	}
}
/* .clientSpeakAboutUs__feedbacks {
	margin: 0 auto 60px;
} */
@media (min-width: 768px){
	.clientSpeakAboutUs__feedbacks {
		margin: 0 auto 40px;
	}
}
@media (min-width: 1920px){
	.clientSpeakAboutUs__feedbacks {
		margin: 0 auto 60px;
	}
}
.feedbacks__container {
	display: flex;
	/* position: relative; */
	/* left: -225px; */
}
@media (min-width: 768px){
	.feedbacks__container {
		position: static;
		justify-content: space-around;
	}
}
@media (min-width: 1000px){
	.feedbacks__container {
		justify-content: flex-start;
	}
}
@media (min-width: 1920px){
	.feedbacks__container {
		position: relative;
		left: -225px;
	}
}
.feedbacks__card_container {
	/* padding: 38.5px 43.5px 33.5px; */
	/* width: 570px; */
	/* margin: 0 15px; */
	border: 1px solid #EAEAEA;
	box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
	border-radius: 5px;
}
@media (min-width: 768px){
	.feedbacks__card_container {
		padding: 18.5px;
		width: 354px;
		margin: 0 10px;
	}
}
@media (min-width: 1000px){
	.feedbacks__card_container {
		padding: 28.5px;
		width: 440px;
	}
}
@media (min-width: 1920px){
	.feedbacks__card_container {
		padding: 38.5px 43.5px 33.5px;
		width: 570px;
		margin: 0 15px;
	}
}
/* .feedbacks__card_container:first-child{
	position: relative;
	top: -40px;
	opacity: 0.4;
} */
@media (min-width: 768px){
	.feedbacks__card_container:first-child{
		display: none;
	}
}
/* @media (min-width: 1000px){
	.feedbacks__card_container:first-child{
		display: none;
	}
} */
@media (min-width: 1920px){
	.feedbacks__card_container:first-child{
		position: relative;
		top: -40px;
		opacity: 0.4;
		display: block;
	}
}
/* .feedbacks__card_container:last-child{ */
	/* position: relative; */
	/* top: -40px; */
	/* margin-right: 0; */
	/* opacity: 0.4; */
/* } */
@media (min-width: 768px){
	.feedbacks__card_container:last-child{
		display: none;
	}
}
@media (min-width: 1000px){
	.feedbacks__card_container:last-child{
		display: block;
	}
}
@media (min-width: 1920px){
	.feedbacks__card_container:last-child{
		position: relative;
		top: -40px;
		opacity: 0.4;
		margin-right: 0;
	}
}

.feedbacks__card_container > .card__text {
	/* font-size: 15px; */
	/* line-height: 24px; */
	color: #363434;
	text-align: left;
	/* min-width: 480px; */
	margin-bottom: 15px;
}
@media (min-width: 768px){
	.feedbacks__card_container > .card__text {
		font-size: 13px;
		line-height: 24px;
		min-width: 314px;
		margin-bottom: 10px;
	}
}
@media (min-width: 1000px){
	.feedbacks__card_container > .card__text {
		font-size: 13px;
		line-height: 24px;
		min-width: 380px;
		margin-bottom: 15px;
	}
}
@media (min-width: 1920px){
	.feedbacks__card_container > .card__text {
		font-size: 15px;
		min-width: 480px;
	}
}
.card__detailed_container {
	margin: 0 auto;
	/* width: 150px; */
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
	border-radius: 5px;
	/* padding: 8px 0 6px;*/
	/* font-size: 15px; */
	/* line-height: 21px; */
	text-align: center;
	color: #008139;
}
@media (min-width: 768px){
	.card__detailed_container {
		width: 130px;
		font-size: 13px;
		line-height: 23px;
		padding: 4px 0 3px;
	}
}
@media (min-width: 1920px){
	.card__detailed_container {
		width: 150px;
		font-size: 15px;
		line-height: 21px;
		padding: 8px 0 6px;
	}
}
.card__detailed_container > p::after{
	content: url(../img/clientSpeakAboutUs/cardDetailed/unwrapIcon.png);
	margin-left: 12px;
}
.card__author {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	/* margin-top: 45px; */
}
@media (min-width: 768px){
	.card__author {
		margin-top: 34px;
	}
}
@media (min-width: 1920px){
	.card__author {
		margin-top: 45px;
	}
}
/* .author__photo {
	margin-right: 20px;
} */
@media (min-width: 768px){
	.author__photo {
		margin-right: 10px;
	}
}
@media (min-width: 1920px){
	.author__photo {
		margin-right: 20px;
	}
}
.author__name {
	/* font-size: 16px; */
	line-height: 21px;
	color: #101820;
	margin-bottom: 10px;
}
@media (min-width: 768px){
	.author__name {
		font-size: 14px;
	}
}
@media (min-width: 1920px){
	.author__name {
		font-size: 16px;
	}
}
.author__cocialNetworkLink {
	flex: 1 1 auto;
}
.author__cocialNetworkLink > img{
	margin-right: 10px;
}
/* ======================================================== */
/*			CONTACTS										*/
/* ========================================================= */
.contacts {
	position: relative;
	/* height: 650px; */
}
@media (min-width: 768px){
	.contacts {
		height: 510px;
	}
}
@media (min-width: 1000px){
	.contacts {
		height: 650px;
	}
}
.contacts__container {
	/* max-width: 1920px; */
	/* margin: 150px auto 0; */
	position: relative;
	overflow: hidden;
}
@media (min-width: 768px){
	.contacts__container{
		max-width: 768px;
		margin: 90px auto 0;
	}
}
@media (min-width: 1000px){
	.contacts__container{
		max-width: 1000px;
		margin: 120px auto 0;
	}
}
@media (min-width: 1920px){
	.contacts__container{
		max-width: 1920px;
		margin: 150px auto 0;
	}
}
.contacts__bg{
	position: relative;
	overflow: hidden;
}
/* .contacts__bg_leftTree{
	position: absolute;
	top: 362px;
	left: 0;
	z-index: 5;
} */
@media (min-width: 768px){
	.contacts__bg_leftTree{
		display: none;
	}
}
@media (min-width: 1920px){
	.contacts__bg_leftTree{
		display: block;
		position: absolute;
		top: 362px;
		left: 0;
		z-index: 5;
	}
}
/* .contacts__bg_rightTree{
	position: absolute;
	top: 118px;
	left: 1722px;
	z-index: 5;
} */
@media (min-width: 768px){
	.contacts__bg_rightTree{
		display: none;
	}
}
@media (min-width: 1920px){
	.contacts__bg_rightTree{
		display: block;
		position: absolute;
		top: 118px;
		left: 1722px;
		z-index: 5;
	}
}
.contacts__square {
	position: absolute;
	/* width: 521px; */
	/* top: 70px; */
	/* left: 375px; */
	background: #FFFFFF;
	border: 1px solid #EAEAEA;
	box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
	border-radius: 5px;
}
@media (min-width: 768px){
	.contacts__square {
		top: 50px;
		left: 20px;
		width: 354px;
	}
}
@media (min-width: 1000px){
	.contacts__square {
		top: 70px;
		width: 500px;
	}
}
@media (min-width: 1920px){
	.contacts__square {
		left: 375px;
		width: 521px;
	}
}
/* .square__container {
	padding: 50px 72px 70px;
} */
@media (min-width: 768px){
	.square__container {
		padding: 40px;
	}
}
@media (min-width: 1000px){
	.square__container {
		padding: 50px 72px;
	}
}
@media (min-width: 1920px){
	.square__container {
		padding: 50px 72px 70px;
	}
}
.square__title {
	font-family: 'Philosopher';
	/* font-size: 40px; */
	line-height: 36px;
	color: #000;
}
@media (min-width: 768px){
	.square__title {
		font-size: 27px;
	}
}
@media (min-width: 1000px){
	.square__title {
		font-size: 40px;
	}
}
.square__row{
	width: 26px;
	height: 1px;
	background-color: #008139;
	/* margin-top: 30px; */
	/* margin-bottom: 40px; */
}
@media (min-width: 768px){
	.square__row{
		margin-top: 20px;
		margin-bottom: 24px;
	}
}
@media (min-width: 1000px){
	.square__row{
		margin-top: 30px;
		margin-bottom: 40px;
	}
}
.item_every{
	/* font-size: 18px; */
	/* line-height: 18px; */
	color: #363434;
	display: block;
}
@media (min-width: 768px){
	.item_every{
		font-size: 16px;
		line-height: 25px;
	}
}
@media (min-width: 1000px){
	.item_every{
		font-size: 18px;
		line-height: 18px;
	}
}
.square__item_map{
	display: flex;
	align-items: center;
	/* margin-bottom: 28px; */
}
@media (min-width: 768px){
	.square__item_map{
		margin-bottom: 10px;
	}
}
@media (min-width: 1000px){
	.square__item_map{
		margin-bottom: 28px;
	}
}
/* .item__map {
	margin-left: 22px;
} */
@media (min-width: 768px){
	.item__map {
		margin-left: 12px;
	}
}
@media (min-width: 1000px){
	.item__map {
		margin-left: 22px;
	}
}
.square__item_tel{
	display: flex;
	align-items: center;
	/* margin-bottom: 28px; */
}
@media (min-width: 768px){
	.square__item_tel{
		margin-bottom: 10px;
	}
}
@media (min-width: 1000px){
	.square__item_tel{
		margin-bottom: 28px;
	}
}
/* .item__tel {
	margin-left: 20px;
} */
@media (min-width: 768px){
	.item__tel {
		margin-left: 10px;
	}
}
@media (min-width: 1000px){
	.item__tel {
		margin-left: 20px;
	}
}
.square__item_mail{
	display: flex;
	align-items: center;
	/* margin-bottom: 26px; */
}
@media (min-width: 768px){
	.square__item_mail{
		margin-bottom: 10px;
	}
}
@media (min-width: 1000px){
	.square__item_mail{
		margin-bottom: 26px;
	}
}
@media (min-width: 768px){
	.square__item_mail img{
		margin-top: 2px;
	}
}
@media (min-width: 1000px){
	.square__item_mail img{
		margin-top: 1px;
	}
}
/* .item__mail {
	margin-left: 18px;
} */
@media (min-width: 768px){
	.item__mail {
		margin-left: 10px;
	}
}
@media (min-width: 1000px){
	.item__mail {
		margin-left: 18px;
	}
}
.square__item_timetable{
	display: flex;
	align-items: flex-start;
	/* margin-bottom: 30px; */
}
@media (min-width: 768px){
	.square__item_timetable{
		margin-bottom: 41px;
	}
}
@media (min-width: 1000px){
	.square__item_timetable{
		margin-bottom: 30px;
	}
}
@media (min-width: 768px){
	.square__item_timetable img{
		margin-top: 6px;
	}
}
@media (min-width: 1000px){
	.square__item_timetable img{
		margin-top: 4px;
	}
}
@media (min-width: 768px){
	.item__timetable {
		line-height: 25px;
		margin-left: 11px;
	}
}
@media (min-width: 1000px){
	.item__timetable {
		line-height: 28px;
		margin-left: 19px;
	}
}
.social_network_icons {
	display: flex;
	justify-content: flex-end;
}
.icon{
	display: inline-block;
	margin-right: 13px;
}
.icon:last-child{
	margin-right: 0;
}
.contacts__map_pont{
	position: absolute;
	/* top: 307px; */
	/* left: 1209px; */
}
@media (min-width: 768px){
	.contacts__map_pont{
		top: 227px;
		left: 534px;
	}
}
@media (min-width: 1000px){
	.contacts__map_pont{
		top: 307px;
		left: 749px;
	}
}
@media (min-width: 1920px){
	.contacts__map_pont{
		left: 1209px;
	}
}
/* ======================================================== */
/*			FOOTER											*/
/* ========================================================= */
.footer {
	background-color: #0B0B0B;
}
.footer__container {
	/* max-width: 1920px; */
	margin: 0 auto;
}
@media (min-width: 768px){
	.footer__container {
		max-width: 768px;
	}
}
@media (min-width: 1000px){
	.footer__container {
		max-width: 1000px;
	}
}
@media (min-width: 1920px){
	.footer__container {
		max-width: 1920px;
	}
}
.footer__container_inner {
	/* max-width: 1211px; */
	/* padding: 24px 20px 25px; */
	margin: 0 auto;
}
@media (min-width: 768px){
	.footer__container_inner {
		padding: 25px 20px 33px;
	}
}
@media (min-width: 1000px){
	.footer__container_inner {
		padding: 30px 20px 35px;
	}
}
@media (min-width: 1920px){
	.footer__container_inner {
		max-width: 1211px;
		padding: 24px 20px 25px;
	}
}
.footer__inner_row_1 {
	display: flex;
	align-items: center;
	/* padding-bottom: 26px; */
	flex-wrap: wrap;
}
@media (min-width: 768px){
	.footer__inner_row_1 {
		padding-bottom: 20px;
	}
}
@media (min-width: 1000px){
	.footer__inner_row_1 {
		padding-bottom: 44px;
	}
}
@media (min-width: 1920px){
	.footer__inner_row_1 {
		padding-bottom: 26px;
	}
}
.footer__logo {
	flex: 1 1 auto;
}
@media (min-width: 768px){
	.footer__logo {
		align-self: flex-start;
	}
}
@media (min-width: 1000px){
	.footer__logo {
		align-self: center;
	}
}
/* .footer__nav {
	flex: 0 1 364px;
} */
@media (min-width: 768px){
	.footer__nav {
		flex: 0 1 367px;
	}
}
@media (min-width: 1000px){
	.footer__nav {
		flex: 0 1 396px;
	}
}
@media (min-width: 1920px){
	.footer__nav {
		flex: 0 1 364px;
	}
}
.menu__link_footer{
	color: #EAEAEA;
	padding: 5px;
}
.footer__button {
	/* margin-left: 24px; */
	/* width: 201px; */
	height: 46px;
	border: 1px solid #FDE724;
	border-radius: 5px;
	background: transparent;
	font-size: 15px;
	line-height: 18px;
	color: #F5F5F5;
	padding: 5px;
}
@media (min-width: 768px){
	.footer__button {
		margin-left: 35px;
		font-size: 13px;
		line-height: 15px;
		width: 167px;
	}
}
@media (min-width: 1000px){
	.footer__button {
		margin-left: 45px;
		font-size: 15px;
		line-height: 18px;
		width: 201px;
	}
}
@media (min-width: 1920px){
	.footer__button {
		margin-left: 24px;
	}
}
.privacy_policy {
	/* font-size: 13px;
	line-height: 15px; */
	text-decoration-line: underline;
	color: #7D808A;
	/* margin-right: 40px; */
}
@media (min-width: 768px){
	.privacy_policy{
		font-size: 9px;
		line-height: 11px;
		margin-right: 15px;
	}
}
@media (min-width: 1000px){
	.privacy_policy{
		font-size: 12px;
		line-height: 14px;
		margin-right: 20px;
	}
}
@media (min-width: 1920px){
	.privacy_policy{
		font-size: 13px;
		line-height: 15px;
		margin-right: 40px;
	}
}
.privacy_policy:last-child {
	margin-right: 0;
}


