.whyChooseUs__container {
	max-width: 320px;
	margin: 70px auto 0;
	overflow: hidden;
	padding: 0 10px;
}
@media (min-width: 480px){
	.whyChooseUs__container{
		max-width: 480px;
	}
}
@media (min-width: 768px){
	.whyChooseUs__container{
		max-width: 748px;
		margin: 79px auto 0;
	}
}
@media (min-width: 1000px){
	.whyChooseUs__container{
		max-width: 1000px;
		margin: 120px auto 0;
	}
}
@media (min-width: 1920px){
	.whyChooseUs__container{
		max-width: 1170px;
		margin: 185px auto 0;
	}
}
.whyChooseUs__benefits{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 57px 0 103px;
}
@media (min-width: 480px){
	.whyChooseUs__benefits{
		margin: 63px 0 80px;
		}
}
@media (min-width: 768px){
	.whyChooseUs__benefits{
		margin: 55px 0 70px;
		}
}
@media (min-width: 1000px){
	.whyChooseUs__benefits{
		margin: 70px 0 120px;
		}
}
@media (min-width: 1920px){
	.whyChooseUs__benefits{
		margin: 108px 0 100px;
		}
}
.benefits__card{
	margin-bottom: 45px;
}
.benefits__card:last-child{
	margin-bottom: 0;
}
@media (min-width: 480px){
	.benefits__card{
		width: 215px;
		margin-bottom: 0;
	}
	.benefits__card:nth-child(1){
		margin-bottom: 40px;
	}
	.benefits__card:nth-child(2){
		margin-bottom: 40px;
	}
}
@media (min-width: 768px){
	.benefits__card{
		width: 180px;
	}
	.benefits__card:nth-child(1){
		margin-bottom: 0;
	}
	.benefits__card:nth-child(2){
		margin-bottom: 0;
	}
}
@media (min-width: 1000px){
	.benefits__card{
		width: 242px;
	}
}
@media (min-width: 1920px){
	.benefits__card{
		width: 270px;
	}
}
.benefits__image_container{
	margin: 0 auto;
	width: 102px;
	height: 81px;
}
@media (min-width: 1000px){
	.benefits__image_container{
		width: 113px;
		height: 90px;
	}
}
@media (min-width: 1920px){
	.benefits__image_container{
		width: 156px;
		height: 124px;
	}
}
.benefits__image_container img{
	width: 100%;
	height: 100%;
	display: block;
}
.benefits__subtitle {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #0B0B0B;
	text-align: center;
	margin: 20px auto 10px;
}
@media (min-width: 480px){
	.benefits__subtitle {
		font-size: 15px;
		margin: 0 auto;
	}
}
@media (min-width: 768px){
	.benefits__subtitle {
		width: 110px;
	}
	.benefits__card:nth-child(3) .benefits__subtitle{
		width: auto;
	}
}
@media (min-width: 1000px){
	.benefits__subtitle {
		line-height: 25px;
		width: auto;
	}
}
@media (min-width: 1920px){
	.benefits__subtitle {
		font-size: 19px;
		line-height: 22px;
		margin: 10px auto 0;
	}
}
.benefits__text {
	font-size: 13px;
	line-height: 20px;
	color: var(--color-dark-grey);
	text-align: center;
	padding: 0 5px;
}
@media (min-width: 480px){
	.benefits__text {
		margin-top: 15px;
	}
}
@media (min-width: 768px){
	.benefits__text {
		margin-top: 10px;
	}
}
@media (min-width: 1920px){
	.benefits__text {
		margin-top: 26px;
		font-size: 15px;
		line-height: 151.7%;
	}
}