@use "./modules/reset";
@use "./modules/fonts";
@use "./modules/components";
@use "./modules/intro";
@use "./modules/about";
@use "./modules/benefits";
@use "./modules/club-directions";
@use "./modules/our-visitors";
@use "./modules/common/swiper-bundle.8.4.5.min";
@use "./modules/our-horses";
@use "./modules/questions";
@use "./modules/comments";
@use "./modules/contacts";
@use "./modules/footer";


body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

body.stopPageScroll {
	overflow-y: hidden;
}