@use "./modules/common/reset";
@use "./modules/common/fonts";
@use "./modules/components/button";
@use "./modules/components/close-button";
@use "./modules/components/form-components";
@use "./modules/components/modal-gratitude";
@use "./modules/components/modal-overlay";
@use "./modules/components/register-modal";
@use "./modules/components/title_section";
@use "./modules/components/slider-own";
@use "./modules/components/slider-swiper";
@use "./modules/intro";
@use "./modules/common/swiper-bundle.8.4.5.min";
@use "./modules/about";
@use "./modules/benefits";
@use "./modules/club-directions";
@use "./modules/our-visitors";
@use "./modules/our-horses";
@use "./modules/questions";
@use "./modules/comments";
@use "./modules/contacts";
@use "./modules/footer";


body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

body.stopPageScroll {
	overflow-y: hidden;
}