@use "../common/forwarded" as helpers;

.slider-control__button.button-scroll-top {
	position: fixed;
	bottom: 50vh;
	right: 1vw;
	@include helpers.zIndex(layer_middle, 10);
	opacity: 0.7;
	margin-right: var(--stop-scroll-padding);
}

.slider-control__button.button-scroll-top:disabled {
	opacity: 0;
}

.button__arrow_top {
	transform: translateY(25%) rotate(135deg);
}