@use "../common/forwarded" as helpers;

.comments {
	&__container {
		max-width: 100%;
		overflow: hidden;
		margin: 0 auto 70px;

		@include helpers.mobile() {
			margin: 0 auto 100px;
		}

		@include helpers.tablet() {
			margin: 0 auto 90px;
		}

		@include helpers.laptop() {
			margin: 0 auto 120px;
		}

		@include helpers.desktop() {
			margin: 0 auto 50px;
		}

		@media (min-width: 2370px) {
			width: 2370px;
		}
	}

	&__title {
		margin-bottom: 30px;

		@include helpers.mobile() {
			margin-bottom: 40px;
		}

		@include helpers.laptop() {
			margin-bottom: 70px;
		}

		@include helpers.desktop() {
			margin-bottom: 40px;
		}
	}

	&__slider-container {
		padding: 0 10px;
		margin: 0 auto 30px;

		@include helpers.mobile() {
			margin: 0 0 40px 0;
		}

		@include helpers.tablet() {
			padding: 0 20px;
		}

		@include helpers.desktop() {
			width: 1170px;
			margin: 0 auto 60px;
			padding: 0;
		}
	}

	&__card-container {
		display: flex;
		flex-direction: column;
		padding: 18.5px;
		width: 300px;
		min-height: 205px;
		border: 1px solid helpers.$color-border-white;
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
		border-radius: 5px;

		@include helpers.mobile() {
			width: 354px;
			min-height: 228px;
		}

		@include helpers.tablet() {
			box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
			min-height: 231px;
		}

		@include helpers.laptop() {
			padding: 28.5px;
			width: 440px;
			min-height: 260px;
		}

		@include helpers.desktop() {
			box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
			padding: 38.5px 43.5px 33.5px;
			width: 570px;
			min-height: 290px;
		}

		&.transitioned {
			transition: transform 1s,
				opacity 1s;
		}

		&.inactiveSlide {
			.comments__card-unwrap-button {
				pointer-events: none;
			}

			.social-network-link__ref {
				pointer-events: none;

				&:focus-visible {
					outline: none;
				}
			}
		}

		.social-network-link__ref:focus {
			.link_icon {
				outline: 4px ridge helpers.$color-light-yellow;
				outline-offset: 2px;
				border-radius: 2px;
			}
			
		}
	}

	&__card-text {
		--height: auto;
		font-size: 13px;
		line-height: 21px;
		color: helpers.$color-brown;
		text-align: left;
		min-width: 250px;
		margin-bottom: 10px;
		height: var(--height);
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		transition: height 0.5s;

		@include helpers.mobile() {
			line-height: 22px;
			min-width: 314px;
			margin-bottom: 10px;
		}

		@include helpers.tablet() {
			line-height: 23px;
		}

		@include helpers.laptop() {
			line-height: 24px;
			min-width: 380px;
			margin-bottom: 15px;
		}

		@include helpers.desktop() {
			font-size: 15px;
		}

		&.opened {
			display: block;
		}
	}

	&__card-unwrap-button {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto 24px;
		width: 130px;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
		border-radius: 5px;
		padding: 4px 0 3px;
		font-size: 13px;
		line-height: 13px;
		text-align: center;
		color: helpers.$color-green;
		visibility: hidden;

		@include helpers.mobile() {
			line-height: 23px;
			padding: 4px 0 3px;
			margin: 0 auto 34px;
		}

		@include helpers.desktop() {
			width: 150px;
			font-size: 15px;
			line-height: 21px;
			padding: 8px 0 6px;
			margin: 0 auto 45px;
		}

		&.visible {
			visibility: visible;
		}

		&.opened {
			.card-unwrap-button__span.first {
				transform: translate(2px, 1px) rotate(-45deg);
			}

			.card-unwrap-button__span.second {
				transform: translate(-1px, 1px) rotate(45deg);
			}
		}

		&:focus-visible {
			outline: 4px ridge helpers.$color-light-yellow;
		}
	}

	&__card-author {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		margin-top: auto;
	}
}

.card-unwrap-button {
	&__span {
		display: inline-block;
		height: 1px;
		width: 10px;
		background-color: helpers.$color-green;
		transition: transform 0.5s;

		&.first {
			transform: translate(2px, 1px) rotate(45deg);
		}

		&.second {
			transform: translate(-1px, 1px) rotate(-45deg);
		}
	}
}

.card-author {
	&__photo {
		margin-right: 10px;

		@include helpers.desktop() {
			margin-right: 20px;
		}
	}

	&__social-network-link {
		flex: 1 1 auto;
	}
}

.social-network-link {
	&__name {
		font-size: 14px;
		line-height: 21px;
		color: helpers.$color-font-black-comments;
		margin-bottom: 10px;

		@include helpers.desktop() {
			font-size: 16px;
		}
	}

	&__ref {
		.link_icon {
			margin-right: 10px;
		}
	}
}