@use "../common/forwarded" as helpers;

.intro {
	position: relative;

	&__background-container {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__image {
		&_bg {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: bottom;

			@include helpers.tablet() {
				object-position: center;
			}

			@include helpers.laptop() {
				object-position: 50% 70%;
			}
		}

		&_bushLeft {
			position: absolute;
			left: 0;
			bottom: 0;
			@include helpers.zIndex(layer_base);
		}

		&_bushRight {
			position: absolute;
			right: 0;
			bottom: 0;
			@include helpers.zIndex(layer_base);
		}
	}

	&__container {
		max-width: 320px;
		height: 558px;
		margin: 0 auto 56px;
		display: flex;
		flex-direction: column;
		padding: 0 15px;

		@include helpers.mobile() {
			max-width: 480px;
			height: 563px;
			margin: 0 auto 49px;
		}

		@include helpers.tablet() {
			max-width: 738px;
			height: 537px;
			margin: 0 auto 34px;
		}

		@include helpers.laptop() {
			max-width: 970px;
			height: 682px;
			margin: 0 auto 53px;
		}

		@include helpers.desktop() {
			max-width: 1170px;
			height: 948px;
			margin: 0 auto 113px;
		}
	}

	&__header {
		margin: 15px auto 97px;
		width: 100%;
		display: flex;

		@include helpers.mobile() {
			margin: 14px auto 111px;
		}

		@include helpers.tablet() {
			margin: 10px auto 41px;
			height: 60px;
		}

		@include helpers.laptop() {
			margin: 21px auto 51px;
		}

		@include helpers.desktop() {
			margin: 9px auto 88px;
		}
	}

	&__content {
		min-width: 100%;
	}

	&__invitation {
		position: relative;
		text-align: center;
		max-width: 280px;
		font-family: 'Philosopher', sans-serif;
		font-weight: 700;
		font-size: 24px;
		line-height: 27px;
		color: helpers.$color-black;
		margin: 0 auto 30px;

		@include helpers.mobile() {
			max-width: 390px;
			font-size: 33px;
			line-height: 37px;
			margin: 0 auto 20px;
		}

		@include helpers.tablet() {
			max-width: 406px;
			font-size: 37px;
			line-height: 41px;
			margin: 0 0 20px;
			text-align: left;
		}

		@include helpers.laptop() {
			max-width: 506px;
			font-size: 47px;
			line-height: 107%;
			margin: 0 0 30px;
		}

		@include helpers.desktop() {
			max-width: 613px;
			font-size: 57px;
			line-height: 107%;
			margin: 0 0 40px;
		}
	}

	&__advertising {
		position: relative;
		font-family: 'Alegreya Sans', sans-serif;
		font-size: 13px;
		line-height: 18px;
		color: helpers.$color-font-grey-1;
		margin: 0 auto 25px;
		max-width: 265px;
		text-align: center;

		@include helpers.mobile() {
			font-size: 16px;
			line-height: 22px;
			max-width: 320px;
			margin: 0 auto 20px;
		}

		@include helpers.tablet() {
			padding-left: 27px;
			max-width: 350px;
			margin: 0 0 20px;
			text-align: left;
		}

		@include helpers.laptop() {
			max-width: 364px;
			padding-left: 46px;
			margin: 0 0 37px;
		}

		@include helpers.desktop() {
			font-size: 24px;
			line-height: 140%;
			max-width: 524px;
			padding-left: 46px;
			margin: 0 0 42px;
		}

		&::before {
			content: "";
			display: block;
			background-color: helpers.$color-light-grey;
			height: 1px;
			width: 15px;
			position: absolute;
			top: -15px;
			left: 50%;
			transform: translate(-50%, 0);

			@include helpers.mobile() {
				top: -13px;
			}

			@include helpers.tablet() {
				width: 15px;
				top: 10px;
				left: 0;
				transform: none;
			}

			@include helpers.laptop() {
				top: 11px;
				width: 26px;
			}

			@include helpers.desktop() {
				top: 15px;
				width: 26px;
			}
		}
	}

	&__button {
		margin: 0 auto;

		@include helpers.tablet() {
			margin: 0;
		}
	}
}

.header {
	&__logo {
		width: 89px;
		height: 29px;
		margin-right: auto;
		position: relative;

		@include helpers.mobile() {
			margin-right: 24px;
		}

		@include helpers.tablet() {
			width: 120px;
			height: 39px;
			margin-right: auto;
		}

		@include helpers.laptop() {
			width: 152px;
			height: 49px;
		}

		&:focus-visible {
			outline: 4px ridge helpers.$color-light-yellow;
			border-radius: 30px;
		}
	}

	&__logo-img {
		@extend %image_inner;
	}

	&__menu-burger-button {
		position: relative;
		width: 77px;
		height: 29px;
		border: 1px solid helpers.$color-green;
		border-radius: 3px;
		display: flex;
		align-items: center;

		@include helpers.tablet() {
			display: none;
		}

		&:focus-visible {
			outline: 4px ridge helpers.$color-light-yellow;
		}
	}

	&__menu-overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@include helpers.zIndex(layer_overlay);
		visibility: hidden;

		@include helpers.tablet() {
			visibility: visible;
			position: static;
			width: 345px;
		}

		@include helpers.laptop() {
			width: 427px;
		}

		&.active {
			visibility: visible;
		}

		&.active .header__menu {
			transform: translateX(0);
		}
	}

	&__menu {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@include helpers.zIndex(layer_top);
		background-color: helpers.$color-font-black-two;
		border-right: 5px solid helpers.$color-green;
		transform: translateX(-100%);
		transition: transform 0.6s,
			visibility 0.6s;

		@include helpers.mobile() {
			width: 230px;
		}

		@include helpers.tablet() {
			position: static;
			width: 100%;
			height: auto;
			background-color: initial;
			border: none;
			transform: none;
			transition: none;
		}
	}

	&__contacts {
		display: none;
		position: relative;

		@include helpers.mobile() {
			display: block;
			margin-left: auto;
		}

		@include helpers.tablet() {
			margin: 19px 0px 0px 67px;
		}

		@include helpers.laptop() {
			margin: 22px 0px 0px 86px;
		}

		@include helpers.desktop() {
			margin: 22px 0px 0px 83px;
		}
	}

	&__contacts::after {
		content: attr(data-timetable);
		position: absolute;
		color: helpers.$color-font-dark-grey;
		display: block;

		@include helpers.mobile() {
			font-size: 9px;
			line-height: 11px;
			top: 18px;
			right: 0;
		}

		@include helpers.tablet() {
			font-size: 11px;
			line-height: 13px;
			top: 23px;
			right: 0;
		}

		@include helpers.laptop() {
			font-size: 13px;
			line-height: 15px;
			top: 29px;
		}
	}
}

.menu-burger-button {
	&__icon {
		display: block;
		padding: 0 5px 0 10px;
	}

	&__name {
		font-size: 15px;
		line-height: 16px;
		color: helpers.$color-font-black;
	}
}

.icon__line {
	display: block;
	margin-bottom: 2px;
	width: 10px;
	height: 2px;
	background-color: helpers.$color-green;

	&:last-child {
		margin-bottom: 0;
	}
}

.menu {
	&__close-button {
		position: absolute;
		width: 16px;
		height: 16px;
		padding: 16px;
		top: 16px;
		right: 21px;

		@include helpers.tablet() {
			display: none;
		}
	}

	&__nav-container {
		margin-top: 50px;

		@include helpers.tablet() {
			margin-top: 7px;
		}

		@include helpers.laptop() {
			margin-top: 15px;
		}
	}

	&__nav {
		@include helpers.tablet() {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
	}
}

.close-button__line {
	position: absolute;
	left: 7px;
	top: 50%;
	width: 17px;
	height: 1px;
	background-color: helpers.$color-white;
	transform: rotate(135deg);

	&:nth-child(1) {
		transform: rotate(-135deg);
	}
}

.nav__link {
	display: block;
	width: 100%;
	font-size: 15px;
	padding: 17.5px 15px;
	color: helpers.$color-white;
	text-transform: uppercase;
	text-align: center;

	@include helpers.tablet() {
		font-size: 11px;
		line-height: 13px;
		color: helpers.$color-font-black;
		padding: 12px 5px;
	}

	@include helpers.laptop() {
		font-size: 13px;
		line-height: 15px;
		padding: 10px 5px;
	}

	&:hover {
		text-decoration-line: underline;

		@include helpers.tablet() {
			text-decoration-line: none;
			border-bottom: 1px solid helpers.$color-green;
		}
	}

	&:focus-visible {
		outline: 4px ridge helpers.$color-light-yellow;
		border-radius: 5px;
	}
}

.contacts__tel-number {
	color: helpers.$color-font-black;
	font-weight: 700;
	font-size: 11px;
	line-height: 13px;
	display: flex;
	align-items: center;
	height: 10px;
	gap: 2px;

	@include helpers.tablet() {
		font-size: 14px;
		line-height: 16px;
		height: 13px;
		gap: 5px;
	}

	@include helpers.laptop() {
		font-size: 18px;
		line-height: 21px;
		height: 16px;
		gap: 10px;
	}

	&:focus-visible {
		outline: 4px ridge helpers.$color-light-yellow;
		outline-offset: 8px;
		border-radius: 5px;
	}
}

.tel-number__img {
	height: inherit;
}