@font-face {
  font-family: 'AlegreyaSans-Bold';
  src: url('AlegreyaSans-Bold.eot');
  src: url('AlegreyaSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('AlegreyaSans-Bold.svg#AlegreyaSans-Bold') format('svg'),
       url('AlegreyaSans-Bold.ttf') format('truetype'),
       url('AlegreyaSans-Bold.woff') format('woff'),
       url('AlegreyaSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

