@font-face {
  font-family: 'AlegreyaSans-Regular';
  src: url('AlegreyaSans-Regular.eot');
  src: url('AlegreyaSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('AlegreyaSans-Regular.svg#AlegreyaSans-Regular') format('svg'),
       url('AlegreyaSans-Regular.ttf') format('truetype'),
       url('AlegreyaSans-Regular.woff') format('woff'),
       url('AlegreyaSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

