<button class="header__menu-burger-button">
	<span class="menu-burger-button__icon">
		<span class="icon__line"></span>
		<span class="icon__line"></span>
		<span class="icon__line"></span>
	</span>
	<span class="menu-burger-button__name">Меню</span>
</button>
<div class="header__menu-overlay">
	<div class="header__menu">
		<button class="menu__close-button">
			<span class="close-button__row"></span>
			<span class="close-button__row"></span>
		</button>
		<nav class="menu__nav-container">
			<ul class="menu__nav">
				<li><a class="nav__link" href="#">О нас</a></li>
				<li><a class="nav__link" href="#">Услуги и цены</a></li>
				<li><a class="nav__link" href="#">Фотоальбом</a></li>
				<li><a class="nav__link" href="#">Контакты</a></li>
			</ul>
		</nav>
	</div>
</div>