<button class="header__menu-burger-button">
	<span class="menu-burger-button__icon">
		<span class="icon__line"></span>
		<span class="icon__line"></span>
		<span class="icon__line"></span>
	</span>
	<span class="menu-burger-button__name">Меню</span>
</button>
<dialog class="header__menu-overlay">
	<div class="header__menu">
		<button class="menu__close-button" aria-label="Кнопка закрытия меню">
			<span class="close-button__line"></span>
			<span class="close-button__line"></span>
		</button>
		<nav class="menu__nav-container">
			<ul class="menu__nav">
				<li><a class="nav__link" href="#about">О нас</a></li>
				<li><a class="nav__link" href="#benefits">Услуги и цены</a></li>
				<li><a class="nav__link" href="#our-visitors">Фотоальбом</a></li>
				<li><a class="nav__link" href="#contacts">Контакты</a></li>
			</ul>
		</nav>
	</div>
</dialog>