<div class="modal-overlay">
	<div class="modal-content">
		<button class="modal-close-button">
			<span class="modal-close-button__span"></span>
			<span class="modal-close-button__span"></span>
		</button>
		{% include "html/components/registration-block.html" %}
	</div>
	<div class="modal-gratitude gratitude">
		<button class="modal-close-button">
			<span class="modal-close-button__span"></span>
			<span class="modal-close-button__span"></span>
		</button>
		<p class="gratitude__line-first">Спасибо!</p>
		<p class="gratitude__line-second">Мы свяжемся с Вами в ближайшее время!</p>
		<div class="gratitude__image-container">
			<img class="gratitude__image" src="img/modal/smile.jpg" alt="Смайлик">
		</div>
	</div>
</div>