<div class="register-modal__overlay modal-overlay">
	<div class="register-modal__content">
		<button class="register-modal__close-button close-button">
			<span class="close-button__span"></span>
			<span class="close-button__span"></span>
		</button>
		{% include "html/components/registration-block.html" %}
	</div>
	<div class="register-modal__gratitude modal-gratitude">
		<button class="register-modal__close-button close-button">
			<span class="close-button__span"></span>
			<span class="close-button__span"></span>
		</button>
		<p class="modal-gratitude__line-first">Спасибо!</p>
		<p class="modal-gratitude__line-second">Мы свяжемся с Вами в ближайшее время!</p>
		<div class="modal-gratitude__image-container">
			<img class="modal-gratitude__image" src="img/modal/smile.jpg" alt="Смайлик">
		</div>
	</div>
</div>