@use "mixins";
@use "variables" as var;

.about {

	//.about__container

	&__container {
		max-width: 320px;
		width: 100%;
		margin: 0 auto 70px;
		padding: 0 10px;

		@include mixins.mobile() {
			max-width: 480px;
		}

		@include mixins.tablet() {
			max-width: 748px;
			margin: 0 auto 79px;
		}

		@include mixins.laptop() {
			max-width: 1000px;
			margin: 0 auto 120px;
		}

		@include mixins.desktop() {
			max-width: 1470px;
			margin: 0 auto 49px;
		}
	}

	//.about__title

	&__title {
		margin-bottom: 35px;

		@include mixins.mobile() {
			margin-bottom: 40px;
		}

		@include mixins.tablet() {
			margin-bottom: 38px;
		}

		@include mixins.laptop() {
			margin-bottom: 61px;
		}

		@include mixins.desktop() {
			margin-bottom: 89px;
		}
	}

	//.about__content

	&__content {
		@include mixins.desktop() {
			position: relative;
		}
	}
}

.content {

	//content__image-container

	&__image-container {
		display: none;

		@include mixins.tablet() {
			display: inline-block;
			width: 326px;
			vertical-align: middle;
			aspect-ratio: 871/529;
		}

		@include mixins.laptop() {
			width: 473px;
		}

		@include mixins.desktop() {
			width: 876px;
			float: left;
		}
	}

	//content__image

	&__image {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	//content__text

	&__text {
		display: inline-block;
		width: 100%;

		@include mixins.tablet() {
			width: 390px;
			vertical-align: middle;
		}

		@include mixins.laptop() {
			width: 486px;
		}

		@include mixins.desktop() {
			width: 570px;
			vertical-align: top;
		}
	}

	//content__subtext

	&__subtext {
		font-size: 12px;
		line-height: 19px;
		color: var.$color-dark-grey;
		max-width: 100%;
		margin: 32px auto 0;

		@include mixins.mobile() {
			font-size: 13px;
			line-height: 20px;
			margin: 30px auto 0;
		}

		@include mixins.tablet() {
			margin: 34px auto 0;
		}

		@include mixins.desktop() {
			font-size: 15px;
			line-height: 28px;
			margin: 41px 0 0;
		}
	}
}

.text {

	// .text__bonus-row

	&__bonus-row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 35px;

		@include mixins.mobile() {
			gap: 20px;
			flex-wrap: nowrap;
			justify-content: unset;
		}

		@include mixins.tablet() {
			gap: 10px;
		}

		@include mixins.laptop() {
			gap: 20px;
		}

		@include mixins.desktop() {
			gap: 65px;
		}
	}

	// .text__bonus-row:first-child

	&__bonus-row:first-child {
		margin-bottom: 35px;

		@include mixins.laptop() {
			margin-bottom: 30px;
		}

		@include mixins.desktop() {
			margin-bottom: 24px;
		}
	}

	// .text__bonus-block

	&__bonus-block {
		width: 220px;

		@include mixins.mobile() {
			width: 50%;
		}
	}
}

.bonus-block {

	// .bonus-block__title

	&__title {
		font-family: 'Philosopher';
		font-weight: 700;
		font-size: 27px;
		line-height: 160%;
		text-align: center;
		color: var.$color-green;

		@include mixins.tablet() {
			font-size: 32px;
			text-align: left;
		}

		@include mixins.desktop() {
			font-size: 42px;
		}
	}

	// .bonus-block__text

	&__text {
		font-weight: 500;
		font-size: 12px;
		line-height: 18px;
		color: var.$color-font-black-one;
		text-align: center;

		@include mixins.tablet() {
			font-size: 13px;
			line-height: 22px;
			text-align: left;
		}

		@include mixins.laptop() {
			font-size: 15px;
			line-height: 25px;
		}

		@include mixins.desktop() {
			font-size: 17px;
		}
	}
}