@use "./common/forwarded" as helpers;

.about {
	&__container {
		max-width: 320px;
		width: 100%;
		margin: 0 auto 70px;
		padding: 0 10px;

		@include helpers.mobile() {
			max-width: 480px;
		}

		@include helpers.tablet() {
			max-width: 748px;
			margin: 0 auto 79px;
		}

		@include helpers.laptop() {
			max-width: 1000px;
			margin: 0 auto 120px;
		}

		@include helpers.desktop() {
			max-width: 1470px;
			margin: 0 auto 49px;
		}
	}

	&__title {
		margin-bottom: 35px;

		@include helpers.mobile() {
			margin-bottom: 40px;
		}

		@include helpers.tablet() {
			margin-bottom: 38px;
		}

		@include helpers.laptop() {
			margin-bottom: 61px;
		}

		@include helpers.desktop() {
			margin-bottom: 89px;
		}
	}

	&__content {
		@include helpers.desktop() {
			position: relative;
		}
	}
}

.content {
	&__image-container {
		display: none;

		@include helpers.tablet() {
			display: inline-block;
			width: 326px;
			vertical-align: middle;
			aspect-ratio: 871/529;
		}

		@include helpers.laptop() {
			width: 473px;
		}

		@include helpers.desktop() {
			width: 876px;
			float: left;
		}
	}

	&__image {
		@extend %image_inner;
	}

	&__text {
		display: inline-block;
		width: 100%;

		@include helpers.tablet() {
			width: 390px;
			vertical-align: middle;
		}

		@include helpers.laptop() {
			width: 486px;
		}

		@include helpers.desktop() {
			width: 570px;
			vertical-align: top;
		}
	}

	&__subtext {
		font-size: 12px;
		line-height: 19px;
		color: helpers.$color-dark-grey;
		max-width: 100%;
		margin: 32px auto 0;

		@include helpers.mobile() {
			font-size: 13px;
			line-height: 20px;
			margin: 30px auto 0;
		}

		@include helpers.tablet() {
			margin: 34px auto 0;
		}

		@include helpers.desktop() {
			font-size: 15px;
			line-height: 28px;
			margin: 41px 0 0;
		}
	}
}

.text {
	&__bonus-row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 35px;

		@include helpers.mobile() {
			gap: 20px;
			flex-wrap: nowrap;
			justify-content: unset;
		}

		@include helpers.tablet() {
			gap: 10px;
		}

		@include helpers.laptop() {
			gap: 20px;
		}

		@include helpers.desktop() {
			gap: 65px;
		}
	}

	&__bonus-row:first-child {
		margin-bottom: 35px;

		@include helpers.laptop() {
			margin-bottom: 30px;
		}

		@include helpers.desktop() {
			margin-bottom: 24px;
		}
	}

	&__bonus-block {
		width: 220px;

		@include helpers.mobile() {
			width: 50%;
		}
	}
}

.bonus-block {
	&__title {
		font-family: 'Philosopher';
		font-weight: 700;
		font-size: 27px;
		line-height: 160%;
		text-align: center;
		color: helpers.$color-green;

		@include helpers.tablet() {
			font-size: 32px;
			text-align: left;
		}

		@include helpers.desktop() {
			font-size: 42px;
		}
	}

	&__text {
		font-weight: 500;
		font-size: 12px;
		line-height: 18px;
		color: helpers.$color-font-black-one;
		text-align: center;

		@include helpers.tablet() {
			font-size: 13px;
			line-height: 22px;
			text-align: left;
		}

		@include helpers.laptop() {
			font-size: 15px;
			line-height: 25px;
		}

		@include helpers.desktop() {
			font-size: 17px;
		}
	}
}