@use "./common/mixins";
@use "./common/variables" as var;
@use "./common/extends";

.benefits {

	// .benefits__container

	&__container {
		max-width: 320px;
		margin: 0 auto 103px;
		overflow: hidden;
		padding: 0 6px;

		@include mixins.mobile() {
			max-width: 460px;
			margin: 0 auto 80px;
		}

		@include mixins.tablet() {
			max-width: 748px;
			margin: 0 auto 70px;
			padding: 0 4px;
		}

		@include mixins.laptop() {
			max-width: 1000px;
			margin: 0 auto 120px;
			padding: 0 20px;
		}

		@include mixins.desktop() {
			max-width: 1171px;
			margin: 0 auto 100px;
			padding: 0;
		}
	}

	// .benefits__title

	&__title {
		margin-bottom: 57px;

		@include mixins.mobile() {
			margin-bottom: 63px;
		}

		@include mixins.tablet() {
			margin-bottom: 55px;
		}

		@include mixins.laptop() {
			margin-bottom: 70px;
		}

		@include mixins.desktop() {
			margin-bottom: 108px;
		}
	}

	// .benefits__table

	&__table {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		row-gap: 45px;
		margin: 0 auto;

		@include mixins.mobile() {
			column-gap: 24px;
			row-gap: 40px;
		}

		@include mixins.tablet() {
			flex-wrap: nowrap;
			gap: 10px;
		}

		@include mixins.laptop() {
			gap: 20px;
		}

		@include mixins.desktop() {
			gap: 29px;
		}
	}

	// .benefits__card

	&__card {
		max-width: 300px;

		@include mixins.mobile() {
			width: 210px;
		}

		@include mixins.tablet() {
			width: 25%;
		}

		&:nth-child(3) .benefits__subtitle {
			@include mixins.tablet() {
				width: auto;
			}
		}
	}

	// .benefits__image-container

	&__image-container {
		margin: 0 auto;
		width: 102px;
		aspect-ratio: 34/27;

		@include mixins.laptop() {
			width: 113px;
			aspect-ratio: 113/90;
		}

		@include mixins.desktop() {
			width: 156px;
			aspect-ratio: 39/31;
		}
	}

	// .benefits__image

	&__image {
		@extend %image_inner;
	}

	// .benefits__subtitle

	&__subtitle {
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: var.$color-font-black-one;
		text-align: center;
		margin: 20px auto 10px;

		@include mixins.mobile() {
			font-size: 15px;
			margin: 0 auto;
		}

		@include mixins.tablet() {
			width: 110px;
		}

		@include mixins.laptop() {
			line-height: 25px;
			width: auto;
		}

		@include mixins.desktop() {
			font-size: 19px;
			line-height: 22px;
			margin: 10px auto 0;
		}
	}

	// .benefits__text

	&__text {
		font-size: 13px;
		line-height: 20px;
		color: var(--color-dark-grey);
		text-align: center;

		@include mixins.mobile() {
			margin-top: 15px;
		}

		@include mixins.tablet() {
			margin-top: 10px;
		}

		@include mixins.desktop() {
			margin-top: 26px;
			font-size: 15px;
			line-height: 151.7%;
		}
	}
}