@use "./common/mixins";
@use "./common/variables" as var;

.our-horses {

	&__container {
		max-width: 100%;
		margin: 0 auto 70px;
		overflow: hidden;
		padding: 0 10px;

		@include mixins.mobile() {
			margin: 0 auto 61px;
		}
		
		@include mixins.tablet() {
			padding: 0 20px;
			margin: 0 auto 80px;
		}
		
		@include mixins.laptop() {
			margin: 0 auto 115px;
		}
		
		@include mixins.desktop() {
			padding: 0;
			margin: 0 auto 49px;
		}

		@media (min-width: 1970px) {
			width: 1970px;
		}
	}

	&__title {
		margin-bottom: 55px;

		@include mixins.mobile() {
			margin-bottom: 60px;
		}
		
		@include mixins.tablet() {
			margin-bottom: 65px;
		}
		
		@include mixins.desktop() {
			margin-bottom: 95px;
		}
	}

	&__galary {
		margin-bottom: 30px;
		
		@include mixins.tablet() {
			margin-bottom: 40px;
		}

		@include mixins.desktop() {
			width: 1170px;
			margin: 0 auto 60px;
		}
	}
}

.galary {

	&__row {
		display: flex;
		justify-content: flex-start;

		@include mixins.mobile() {
			justify-content: space-between;
		}
		
		@include mixins.tablet() {
			justify-content: flex-start;
		}

		@include mixins.desktop() {
			justify-content: space-between;
		}
	}

	&__item.swiper-slide {
		width: 260px;
		min-height: 390px;
		height: auto;
		padding: 0 14px 24px;
		background-color: var.$color-white;
		border: 1px solid var.$color-border-white;
		box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.07);
		border-radius: 5px;
		transition: transform 1s,
		opacity 1s;

		@include mixins.mobile() {
			width: 220px;
			padding: 0 14px 13px;
		}
		
		@include mixins.tablet() {
			width: 250px;
			padding: 0 19px 30px;
		}
		
		@include mixins.laptop() {
			padding: 0 24px 34px;
			width: 293px;
		}
		
		@include mixins.desktop() {
			width: 370px;
			padding: 0 24px 44px;
		}
	}
}

.item {

	&__image {
		margin: -20px 0 19px;
		width: 100%;
		aspect-ratio: 23/29;
		border: 1px transparent;
		border-radius: 5px;
		overflow: hidden;

		@include mixins.mobile() {
			margin: -20px 0 15px;
			aspect-ratio: 21/25;
		}
		
		@include mixins.tablet() {
			aspect-ratio: 5/6;
		}
		
		@include mixins.laptop() {
			margin: -25px 0 20px;
			aspect-ratio: 243/320;
		}
		
		@include mixins.desktop() {
			aspect-ratio: 320/421;
			margin: -25px 0 25px;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 15px;
		line-height: 15px;
		margin-bottom: 10px;
		text-align: center;
		color: var.$color-brown;
		
		@include mixins.tablet() {
			margin-bottom: 15px;
		}
		
		@include mixins.laptop() {
			margin-bottom: 20px;
		}
		
		@include mixins.desktop() {
			font-size: 23px;
			line-height: 27px;
			margin-bottom: 25px;
		}
	}

	&__line {
		background-color: var.$color-green;
		width: 26px;
		height: 1px;
		margin: 0 auto 10px;

		@include mixins.tablet() {
			margin: 0 auto 15px;
		}
		
		@include mixins.laptop() {
			margin: 0 auto 20px;
		}
		
		@include mixins.desktop() {
			margin: 0 auto 25px;
		}
	}

	&__text {
		font-size: 13px;
		line-height: 20px;
		text-align: center;
		color: var.$color-dark-grey;
		
		@include mixins.tablet() {
			font-size: 12px;
			line-height: 18px;
		}
		
		@include mixins.laptop() {
			font-size: 14px;
			line-height: 21px;
		}
		
		@include mixins.desktop() {
			font-size: 15px;
			width: 280px;
			margin: 0 auto;
		}
	}
}

.image-horse {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}