@use "./common/mixins";
@use "./common/variables" as var;

.our-visitors {
	overflow: hidden;

	@include mixins.tablet() {
		overflow: visible;
	}

	&__container {
		margin: 0 auto 70px;
		width: 320px;
		overflow: hidden;

		@include mixins.mobile() {
			width: 480px;
			margin: 0 auto 90px;
		}
		
		@include mixins.tablet() {
			width: 748px;
			margin: 0 auto 89px;
		}
		
		@include mixins.laptop() {
			width: 980px;
			margin: 0 auto 120px;
		}
		
		@include mixins.desktop() {
			width: 1900px;
			margin: 0 auto 150px;
		}
	}

	&__title {
		margin-bottom: 35px;

		@include mixins.mobile() {
			margin-bottom: 40px;
		}

		@include mixins.desktop() {
			margin-bottom: 70px;
		}
	}

	&__photo-container {
		margin-bottom: 30px;
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		transition: transform 0.6s ease-in-out,
		opacity 0.6s ease-in-out;

		@include mixins.mobile() {
			width: 100%;
		}
		
		@include mixins.tablet() {
			margin-bottom: 40px;
			width: 100%;
			transition: transform 1s ease-in-out 0s,
			opacity 1s ease-in-out 0s;
		}
		
		@include mixins.laptop() {
			margin-bottom: 30px;
			width: 100%;
		}
		
		@include mixins.desktop() {
			margin-bottom: 60px;
			width: 100%;
		}
	}

	&__photo {
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		justify-content: space-around;
		width: 100%;
		height: 488px;
		flex-shrink: 0;
		
		@include mixins.tablet() {
			height: 314px;
		}
		
		@include mixins.laptop() {
			height: 380px;
		}
		
		@include mixins.desktop() {
			height: 608px;
		}
	}

	&__pagination-container {
		padding: 0 18.5px;
		display: none;

		@include mixins.desktop() {
			display: block;
		}
	}
}

.photo__item {
	padding: 1px 0px;
	
	&:nth-child(n+9) {
		display: none;
	}

	@include mixins.mobile() {
		&:nth-child(n+9) {
			display: inline;
		}
	}
	
	@include mixins.tablet() {
		&:nth-child(5n) {
			display: none;
		}
	
		&:nth-child(n+10) {
			display: none;
		}
	}
	
	@include mixins.desktop() {
		&:nth-child(5n) {
			display: inline;
		}
	}
}

.ourVisitor_pagination_bullet {
	display: inline-block;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	margin: 0 7.5px;
	background-color: var.$color-black;
	opacity: 0.2;

	&.active {
		background-color: var.$color-yellow;
		opacity: 1;
	}
}