@use "../common/forwarded" as helpers;

.slider-control {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 43px;

	&__button {
		position: relative;
		width: 40px;
		height: 40px;
		background: helpers.$gradient-slide-button;
		border-radius: 50%;
		transition: opacity 1s ease-in-out;
		box-shadow: 0px 1px 0px helpers.$color-light-orange;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			opacity: 0;
			background: helpers.$gradient-yellow-dark;
			transition: opacity 0.2s ease-in-out;
		}

		&:hover::before {
			opacity: 1;
		}

		&[disabled] {
			opacity: 0.4;
			cursor: auto;
		}

		&[disabled]:hover::before {
			opacity: 0;
			cursor: auto;
		}
	}
}

.button__arrow {
	display: block;
	width: 10px;
	height: 10px;
	border-left: 3px solid helpers.$color-dark-orange;
	border-bottom: 3px solid helpers.$color-dark-orange;
	margin: 0 auto;

	&.button__arrow_prev {
		transform: translateX(25%) rotate(45deg);
	}

	&.button__arrow_next {
		transform: translateX(-25%) rotate(225deg);
	}
}

.slider-control__range {
	width: 96px;
	height: 8px;
	margin: 0 27px;
	box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.17);
	border-radius: 10px;

	@include helpers.desktop() {
		display: none;
	}
}

.slider-control__thumb {
	/* width took from JS*/
	height: 8px;
	background: helpers.$gradient-yellow-thumb;
	border-radius: 10px;
	transition: transform 0.6s ease-in-out 0s;

	@include helpers.tablet() {
		transition: transform 1s ease-in-out 0s;
	}
}