@use "../common/forwarded" as helpers;

.title_section {
	font-family: 'Philosopher', sans-serif;
	font-size: 21px;
	line-height: 21px;
	color: helpers.$color-brown;
	text-align: center;

	@include helpers.mobile() {
		font-size: 27px;
		line-height: 27px;
	}

	@include helpers.laptop() {
		font-size: 30px;
		line-height: 36px;
	}

	@include helpers.desktop() {
		font-size: 40px;
		line-height: 36px;
	}
}